<div class="detailHead">
    <span class="hedText">Programme Edit Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="programmeForm" name="programmeForm" onsubmit="return false;">{% csrf_token %}    
    
    <table>
        <tr>
      	    <td>
      		    <table class="tblprofile">
      			    <tr>
      				    <td class="rightprofile">Name</td>
      					<td class="leftprofile">
                            <input type="text" name="name" id="id_name" value="{{programme}}" size="15"/>
                            <input type="hidden" name="old" id="id_old" value="{{programme}}" size="15"/>
                        </td>                                                    
      				</tr>
      				<tr>
      				    <td class="rightprofile">Description</td>
      					<td class="leftprofile">
			                <textarea name="description" id="id_description" rows=4 cols=20>{{programme.description}}</textarea>
                        </td>                                                    
      				</tr>
      				<tr>
      				    <td class="rightprofile">Start Date</td>
      					<td class="leftprofile">
			    <input type="text" name="startDate" id="id_startDate" value="{% if programme.startDate %}{{programme.startDate|date:'m'}}/{{programme.startDate|date:'j'}}/{{programme.startDate|date:'Y'}}{% endif %}" size="15"/>
                            
                        </td>
                            
      				</tr>
      				<tr>
      				    <td class="rightprofile">End Date</td>
      					<td class="leftprofile">
				<input type="text" name="endDate" id="id_endDate" value="{% if programme.endDate %}{{programme.endDate|date:'m'}}/{{programme.endDate|date:'j'}}/{{programme.endDate|date:'Y'}}{% endif %}" size="15"/>
                        </td>                        
	                    <script>
	                        $("#id_startDate").datepick();
	                        $( "#id_endDate" ).datepick();
	                    </script>
      				</tr>
      				
      				<tr>      				    
      			        <td class="leftprofile">
      			            <span style="display:none"><input type="checkbox" id="id_active" name="active" checked="checked"></span>
      			        </td>
      			    </tr>
      			    <tr>
      				    <td class="rightprofile">
                    	    <input type="submit" value="Update" />
      				    </td>
      				</tr>
      			</table>
      		</td>
      	</tr>
    </table>
</form>
<script>
 (function($) { $(function() { 
  autoCompleteCall('/get-info/','boundary,school','true,true','1,1','0')

});})(jQuery);
</script>
<script>
  $(document).ready(function(){   
   $("#programmeForm").submit(function(){   
   oldName = $('#id_old').val();  
   newName = $('#id_name').val();
    $.post(
        '/programme/{{programme.id}}/update/',
        $("#programmeForm").serialize(),
                function(data){
                    $("#dyncData").html(data); 
                    ChangeHtml=$("#programme_{{programme.id}}").children('span').html();        
                    ChangeHtml=ChangeHtml.replace(oldName, newName);
                    $("#programme_{{programme.id}}").children('span').html(ChangeHtml);               
               }
           );
       });
});
</script>
