{% extends "index.html" %}
{% block leftpart %}{% endblock %}
{% block midpart %}
<div class="detailHead">
<span class="hedText">Student Edit Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" name="studentForm" id="studentForm" onsubmit="return false;">{% csrf_token %}

      			<table class="tblprofile">
      			    <input type="hidden" name="url" value="{{url}}" id="url" />                    
      			    <input type="hidden" id="id_boundary" name="boundary" value="{{studentObj.name.boundary.id}}"/>
			    <input type="hidden" id="studId" name="studId" value="{{studentObj.id}}"/>
      				
					<td>First Name</td>
					<td><input type="text" name="firstName" size="15" id="id_firstName" value='{{studentObj.name.firstName}}' /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lastName" size="15" id="id_lastName" value='{{studentObj.name.lastName}}' /></td>
				</tr>
				<tr>
					<td>Dirth of Birth</td>
					<td><input type="text" name="dob" size="15" id="id_dob" value="{% if studentObj.name.dob %}{{studentObj.name.dob|date:'m'}}/{{studentObj.name.dob|date:'j'}}/{{studentObj.name.dob|date:'Y'}}{% endif %}"  />
					<script>
		                        	$( "#id_dob" ).datepick();
	                    		</script></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="text" name="gender" size="15" id="id_gender" value='{{studentObj.name.gender}}' /></td>
				</tr>
				<tr>
					<td>Mother Tonuge</td>
      					<td class="leftprofile">
      					    <select id="id_mt" name="mt">
      					        {% for language in studentObj.get_all_languages %}
      					            {% if studentObj.name.mt == language %}
      					                <option value="{{language.id}}" selected>{{language}}</option>
      					            {% else %}
      					                <option value="{{language.id}}">{{language}}</option>
      					            {% endif %}    
      					        {% endfor %}
      					    </select>
					</td>
				</tr>
				<tr>
					<td>Mother</td>
					<td><input type="text" name="mother" size="15" id="id_mother" value='{{studentObj.name.mother}}' /></td>
				</tr>
				<tr>
					<td>Father</td>
					<td><input type="text" name="father" size="15" id="id_father" value='{{studentObj.name.father}}' /></td>
      				</tr>
      				<tr>
      					<td>Academic</td>
      					<td>
      					    <select id="id_academic" name="academic">
      					        {% for academic in studentObj.get_all_academic_years %}
      					            {% if studentObj.academic == academic %}
      					                <option value="{{academic.id}}" selected>{{academic}}</option>
      					            {% else %}
      					                <option value="{{academic.id}}">{{academic}}</option>
      					            {% endif %}    
      					        {% endfor %}
      					    </select>
      					    <span style="display:none"><input type="checkbox" id="id_active" name="active" checked="checked"></span>
					</td>
      				</tr>
      				
      				<tr>
      					<td colspan=2 style="text-align:center;">
						<input type="submit" value="Submit" />
      					</td>
      				</tr>
      			</table>
</form>
<script>
function closeEdit(){
	$('#box').hide();
}


$("#studentForm").submit(function(){
	studId = $('#studId').val();
	$.post(  
	'{{studentObj.get_update_url}}',
	$("#studentForm").serialize(),
	function(data){
               window.parent.tb_remove();
		$('#student_'+studId, self.parent.document).html(data);
		
		window.parent.tb_init('#student_'+studId+' a.thickbox, area.thickbox, input.thickbox');
		
                return false;
		}
	);
	});
</script>
{% endblock %}
