{% load template_tags %}
<div class="detailHead">
    <span class="hedText">Assessment Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="assessmentForm" name="assessmentForm" onsubmit="return false;">

	<input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
	<input type="hidden" id="url" value="/assessment/{{assessment.id}}/copy/" />
     <input type="hidden" name="form-0-typ" id="id_form-0-typ" value="3"/>
	<input type="hidden" id="assessment_id" value="{{assessment.id}}" />
         <input type="hidden" id="lookupValues" name="lookupValues" value="{{assessment.id}}" />
	<input type="hidden" id="new_id" value="{{assessment.id}}" />
	<input type="hidden" id="newass_id" value="{{assessment.id}}" />
	<input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
	<input type="hidden" name="form-0-programme" id="id_form-0-programme" value="{{assessment.programme.id}}" />  
	{{form.management_form}} 
	{% with form.forms|last as entryForm %}
	<table>
        		<tr>
      	    			<td>
      		    			<table class="tblprofile">      			          				  				
      						<tr>
      				    			<td class="rightprofile"><label class="KLP_required">Name</label></td>
      							<td class="leftprofile">
                            					
                            					<!-- Assessment Name Field -->
                            					<input type="text" name="newasssmentname" id="newassesmentname" value="" size="15"/>
                        				</td>
      						</tr>
      			    			<tr><td> &nbsp;</td></tr>
      			    			<tr><td> &nbsp;</td></tr>
      			    			
      			    			<tr>
      				    			<td>
                                    				<input type="submit" name="save" id="id_save" value="Copy" tabindex=4 />
                                    			</td>
      				    			<td></td>
      						</tr>
      					</table>
      				</td>
      			</tr>
    		</table>
    	{% endwith %}
</form>
<script>
  $(document).ready(function(){   
  
   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal,'id_form-0-programme');
   	
   });
   
   $("#id_save_and_continue").click(function(){
   	/* Clicking on save and continue button hide all prv msgs and call form submit and pass button type is save and continue */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save and continue');
   	KLP_form_submit(parentVal);
   });
   
   $("#id_save_and_create").click(function(){
   	/* Clicking on save and add another button hide all prv msgs and call form submit and pass button type is save and add another */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save and add another');
   	KLP_form_submit(parentVal, 'id_form-0-programme');
   	
   	
   });
  
  
   var KLP_form_submit = function(parentVal, parentId){
   	oldName = $('#id_old').val();  
   	newName = $('#id_form-0-name').val();
   	/* capture old name and new name to change values in node */
   	/* post data using post method */
   	
   	$.post(
        	$('#url').val(),
        	$("#assessmentForm").serialize(),
                function(data){
                  
                   /* Get Response */
                   $('#klp_fail_MsgTxt').empty();
                   $("#klp_MsgTxt").empty()
                   success=data.split('_')
                   // $("#dyncData").html(success[0]);
                   // NFInit();
                    $('input:visible:enabled:first').focus();
                    
                    if (success[0] == 'Succesfully Copied'){
                        /* If It success show success msg and create new node in tree */
                    	$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html("Assessment Copied Successfully")
   		    	/*newObj=$('#new_id');
   		    	changeId='assessment_'+success[1]+'_id';
   		    	newObj.attr('id',changeId);
   		    	newObj.val(success[1]);*/
   		    	newObjass=$('#assessment_id');
   		    	oldassId=newObjass.val()
   		    	newObjass.val(success[1]);
                    	
                    	ObjId='#programme_'+$('#id_form-0-programme').val();
                    	
                    
            	    	Obj=$(ObjId)
            	    	//Obj.val(success[1]);                          
                    	KLP_Create_Node(Obj,'assessment_copy');
                    	
                    	questionids=success[2];
                    	newquObj=$('#newass_id');
                    	newquObj.attr('id','assessment_'+success[1])
                    	questids=questionids.split(',');
                    	 newObj=$('#new_id');
   		    	
                    	  changeId='question_id';
   		    	  newObj.attr('id',changeId);
   		    	  questObj=$('#'+changeId);
   		    	   Obj2='#assessment_'+success[1];
   		    	   Obj1=$(Obj2);
                    	for(k=0;k<questids.length-1;k++){
                    	 
                    	  
   		    	  questObj.val(questids[k]);
   		    	  
   		    	 
   		    	
   		    	KLP_Create_Node(Obj1,'question_copy');
                    	}
                    	newObjass.val(oldassId)
                    }		
                  else{
                    $('#failureMsgHead').css('display','block');
                    $('#klp_fail_MsgTxt').html(data);
                  
                  }
               }
           );
   }
  
});
</script>
