{% load template_tags %}
<div class="detailHead">
    <span class="hedText">Boundary Form</span>
</div>            

<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="boundaryForm" name="boundaryForm" onsubmit="return false;">{% csrf_token %}
    <input type="hidden" name="url" value="/boundary/creator/" id="url" />    
    <input type="hidden" name="redUrl" value="{{redUrl}}" id="redUrl" />    
    {{form.management_form}}
    <input type="hidden" name="form-buttonType" id="id_form-buttonType" value="" />
    <input type="hidden" id="boundary_id" size="15" value="{{extra_context|displayValue:'prevousId'}}" / >
    <input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
    {% with form.forms|last as entryForm %}
    	<table>
        	<tr>
      	    		<td>
      		    		<table class="tblprofile">
      			    		<tr>
      			        		<td class="rightprofile"><lablel class="KLP_required">Name</label></td>
      						<td class="leftprofile">
      					    		<input type="hidden" name="form-0-parent" id="id_form-0-parent" size="15" value="1" / >
                            				{% render_field entryForm.name 'tabindex=1' %}
                            				<!-- Boundary Name Field -->
                        			</td>
                        			<td>
                        				<!-- If Name field has errors show errors -->
                        				{% for error in entryForm.name.errors %}
	                                			<span class="editErr">{{ error }}</span>
	                                		{% endfor %}
                        			</td>
      					</tr>
      					<tr><td> &nbsp;</td></tr>
                    			<tr><td> &nbsp;</td></tr>
                    			<tr><td> &nbsp;</td></tr>
                    			<tr>
      				    		<td class="rightprofile">
      				        		<input type="hidden" name="form-0-active" id="id_form-0-active" value="2"/>
      			            			<input type="hidden" name="form-0-boundary_type" id="id_form-0-boundary_type" size="15" value="" />
      			            			<input type="hidden" name="form-0-boundary_category" id="id_form-0-boundary_category" size="15" value="" />
                    	    				<input type="submit" name="save" id="id_save" value="Save" tabindex=2 />
                    				<!--td>
                    	    				<input type="submit" name="save_and_continue" id="id_save_and_continue" value="Save And Continue" tabindex=3 />-->
                    				</td>
                    				<td>
                    	    				<input type="submit" name="save_and_create" id="id_save_and_create" value="Save And Create Another" tabindex=4 />
      				    		</td>
      					</tr>
      				</table>
      			</td>
      		</tr>
    	</table>
    {% endwith %}
</form>         

<script>
  $(document).ready(function(){

   $("#id_form-0-boundary_type").val($("#boundary_type").val());
   
     
   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-parent").val();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   	
   });
   
   $("#id_save_and_continue").click(function(){
   	/* Clicking on save and continue button hide all prv msgs and call form submit and pass button type is save and continue */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-parent").val();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	$("#id_form-buttonType").val('save and continue');
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   });
   
   $("#id_save_and_create").click(function(){
   	/* Clicking on save and add another button hide all prv msgs and call form submit and pass button type is save and add another */
   	KLP_Hide_Msg();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	parentVal = $("#id_form-0-parent").val();
   	$("#id_form-buttonType").val('save and add another');
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   	
   	
   });
    
   
   
   var KLP_form_submit = function(parentVal, categoryId, categoryVal, parentId){
   	/* post data using post method */
   	$.post(
        	$('#url').val(),
        	$("#boundaryForm").serialize(),
                function(data){	
                    /* Get Response */
                    $("#dyncData").html(data);
                    NFInit();
                    $('input:visible:enabled:first').focus();
                    var successStatus = $("#success_status").val();
                    if 	(successStatus == 'True'){
                    	/* If It success show success msg and create new node in tree */
                    	ObjId='#boundary_'+parentVal
		    	Obj=$(ObjId)                          
                    	KLP_Create_Node(Obj,'boundary');
                    	$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html("Boundary Created Successfully");
   		    }
                    if (categoryId != null)
                    	$("#"+categoryId).val(categoryVal);
                    if (parentId != null)
                    	$("#"+parentId).val(parentVal);
                    
               }
           );
   }
   
   
});
</script>
