{% load template_tags %}
<tr id="student_{{child.id}}">
	<td  class="tot-border1">{{child.first_name}}<input type="hidden" id="success_status" size="15" value="True" / ></td>
	<td  class="tot-border1">{{child.last_name}}</td>
	<td  class="tot-border1">{{child.dob|date:"d M Y"}}</td>
	<td  class="tot-border1">{{child.mt}} </td>
	<td  class="tot-border1">{{child.gender}}</td>
	<td  class="tot-border1">{% if child.getMother.first_name %}Mother: {{child.getMother.first_name}} <br />{% endif %} {% if child.getFather.first_name%}Father: {{child.getFather.first_name}}{% endif %}</td> 
        <td  class="tot-border2"><input type="checkbox" value = "{{child.id}}" name="students" onchange="updateEditUrl()"/></td>
		
</tr>
