{% load template_tags %}
<div id="popData1"></div>
{% if extra_context|displayValue:'reload' == False or extra_context|displayValue:'reload' == ''%}
<script type="text/javascript" src="/static_media/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static_media/js/niceforms.js"></script>
<script type="text/javascript" src="/static_media/js/thickbox.js" charset="utf-8"></script>


<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/thickbox.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/form.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/style.css" />
{% endif %}
<div id="popData">
<form action="." method="POST" enctype="multipart/form-data" id="childForm" onsubmit="return false;" >{% csrf_token %}
			    {% if not extra_context|displayValue:'modelName' %}
                            <input type="hidden" name="url" value="/boundary/{{extra_context|displayValue:'referKey'}}/child/creator/" id="url" />
			    {% else %}
				<input type="hidden" name="url" value="/studentgroup/{{extra_context|displayValue:'studentgroup_id'}}/student/creator/" id="url" />
				<input type="hidden" name="studentgroup" value="{{extra_context|displayValue:'studentgroup_id'}}" id="id_studentgroup" />
			    {% endif %}
                            <input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
			    <input type="hidden" id="school_id" size="15" value="{{extra_context|displayValue:'prevousId'}}" / >
			    <input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
			    <input type="hidden" id="replaceTrue" name="replaceTrue" size="15" value="True" / >
			    <input type="hidden" id="mapStudent" name="mapStudent" size="15" value="{{extra_context|displayValue:'mapStudent'}}" / >
			    <input type="hidden" id="assessment_id" name="assessment_id" size="15" value="{{extra_context|displayValue:'assessment_id'}}" / >
			    <table class="tblprofile">
				{{form.management_form}}
				{% for entryForm in form.forms %}

				<tr>
				    <!-- Child Form Headings -->
				    <td align="center"><label class="KLP_required">First Name:</label></td>
				  
				    <td align="center"><label>Last Name:</label></td>
				    
				  
				    <td align="center"><label class="KLP_required">Gender:</label></td>
				      <td align="center" style="min-width:200px;max-width:200px"><label class="KLP_required">Date of Birth:</label></td>
				    <td align="center"><label class="KLP_required">Mother Tongue:</label></td>
				    <td align="center">&nbsp;</td>
				    <td align="center"><label class="KLP_required">Mother First Name:</label></td>
				     <td align="center"><label class="KLP_required">Father First Name:</label></td>
				   
				    <td align="center"><label>Other Studnet Id:</label></td>
				     <td align="center"><label>UID:</label></td>
				       <td align="center"><label>Child Middle Name:</label></td>
				    <td align="center"><label>Mother Middle Name:</label></td>
				     <td align="center"><label>Father Middle Name:</label></td>
				    <td align="center"><label>Mother Last Name:</label></td>
				   
				   
				    <td align="center"><label>Father Last Name :</label></td>
				    <td align="center">&nbsp;</td>
				</tr>
				<tr>
				    <!-- render all fields for child -->
				    <td align="center">
					{% render_field entryForm.first_name 'tabindex=1' %}
				    </td>
				   
				    <td align="center">
					{% render_field entryForm.last_name 'tabindex=1' %}
				    </td>
				   
				   
				    <td align="center">
					{% render_field entryForm.gender 'tabindex=1' %}
				    </td>
				     <td align="center" style="min-width:200px;max-width:200px">
					{% render_field entryForm.dob 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.mt 'tabindex=1' %}
					<input type="hidden" name="form-0-child" id="id_child" size="15" value=""/>
					<input type="hidden" name="form-0-boundary" id="id_boundary" size="15" value="{{extra_context|displayValue:'referKey'}}"/>
					<input type="hidden" name="form-0-active" id="id_active" size="15" value="2"/>
					<input type="hidden" name="form-0-ModelName" id = "model" value="{{extra_context|displayValue:'modelName'}}" />
				    </td>
				    <td align="center">&nbsp;</td> 
				    <td align="center">
					<input type="text" name = "form-0-motherfirstname" id="id_form-0-motherfirstname" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-motherfirstname'}}" />
				    </td>
				       <td align="center">
					<input type="text" name = "form-0-fatherfirstname" id="id_form-0-fatherfirstname" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-fatherfirstname'}}" />
					
				    </td>
				    
				    <td align="center">
					<input type="text" name="form-0-otherId" id="id_form-0-otherId" value="{{extra_context|dictValue:'form-0-otherId'}}" tabindex=1 size="3"/>
				    </td>
				     <td align="center">
					{% render_field entryForm.uid 'tabindex=1' %}
				    </td>
				     <td align="center">
					{% render_field entryForm.middle_name 'tabindex=1' %}
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-mothermiddlename" id="id_form-0-mothermiddlename" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-mothermiddlename'}}" />
				    </td>
				   
				 
				    <td align="center">
					<input type="text" name = "form-0-fathermiddlename" id="id_form-0-fathermiddlename" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-fathermiddlename'}}" />
					
				    </td>
				     <td align="center">
					<input type="text" name = "form-0-motherlastname" id="id_form-0-motherlastname" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-motherlastname'}}" />
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-fatherlastname" id="id_form-0-fatherlastname" tabindex='1' size=8 value="{{extra_context|dictValue:'form-0-fatherlastname'}}" />
					
				    </td>
				    <td align="center">
				    	<input type="hidden" name="counter" id="id_counter" value="{{extra_context|displayValue:'counter'}}"/>
                                    	<input type="submit" name="save{{extra_context|displayValue:'counter'}}" id="id_save" value="Save" tabindex="1"/>
                                    </td>
				</tr>
				<tr>
				   <!-- Show error msgs if field id not valid -->
				   <td align="center">
                                    	{% for error in entryForm.first_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				    
				    <td align="center">
                                    	{% for error in entryForm.last_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                  
                                   
                                    <td align="center">
                                    	{% for error in entryForm.gender.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>

                                     <td align="center">
                                    	{% for error in entryForm.dob.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">
                                    	{% for error in entryForm.mt.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center" colspan="3">
                                    	{% for error in entryForm.errors.fatherfirstname %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                               <td align="center">&nbsp;</td>
                                                       <td align="center">
                                        {% for error in entryForm.uid.errors %}
                                                <span class="editErr">{{ error }}</span>
                                        {% endfor %}
                                    </td>

                                       <td align="center">
                                        {% for error in entryForm.middle_name.errors %}
                                                <span class="editErr">{{ error }}</span>
                                        {% endfor %}
                                    </td>

                                    <td align="center">&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                       <td align="center">&nbsp;</td>                                   
                                    <td align="center">&nbsp;</td>
                                          
				</tr>
				
				
				
				{% endfor %}
                                
				</table>
				<script>
  $(document).ready(function(){
  

   var KLP_Hide_Msg = function(){
	$("#successMsgHead").hide();
        $("#failureMsgHead").hide();
   }

   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
	KLP_Hide_Msg();	
	parentVal = $("#id_boundary").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal,'id_boundary');
   });
      
    
    
   var KLP_form_submit = function(parentVal,parentId ){
    var d = new Date();

   	$("#id_save").attr("disabled", "true");
        modelName=$('#model').val();
        var studentgroup_id = $('#id_studentgroup').val()
   	$.post(
        	$('#url').val(),
        	$("#childForm").serialize(),
                function(data){
                    if (data[0] == "{"){
                    	var data = $.parseJSON(data)
                    	//alert(data['detailStr']);
                    	window.parent.parent.$("#ans_Student_Detail").append(data['detailStr']);
                    	window.parent.parent.$("#id_ans_data_point").append(data['ansEntryStr']);
                    	window.parent.parent.$('.blue').bt();
                    	window.parent.parent.tb_remove();
                    }
                    else{
                    	    //alert("11111");
		            $("#popData").replaceWith(data);
		            $("#id_save").removeAttr("disabled");
		            setTimeout(function(){
				$('input:visible:enabled:first').focus();
			    },200);
			    //window.parent.parent.tb_init('a.thickbox, area.thickbox, input.thickbox');
			    var successStatus = $("#success_status").val();
			    
		            if (successStatus == 'True'){
		                var d2 = new Date();
			            diff = (d2.getTime() - d.getTime())/1000;
		            	$("body").html("Student Created Successfully in "+diff + "seconds");
				if (modelName != 'student') {
					$("#successMsgHead").show();
					$("#klp_MsgTxt").html("Child Created Successfully")
					//window.parent.parent.tb_remove();
				}
				else {
					var Norecords = parseInt(window.parent.parent.$("#Norecords").val());
					var lenOfChilds = parseInt(window.parent.parent.$("#id_StudentDetail  tr").length);
					var resPerPage = parseInt(window.parent.parent.$("#id_resultPerPage").val());
					if ( resPerPage <= lenOfChilds - 1){
						KLP_New_Pagination(resPerPage,Norecords,studentgroup_id);
					}
					else {
						window.parent.parent.$('#id_StudentDetail  > tbody:last').append(data);
					}
					window.parent.parent.$("#Norecords").val(parseInt(Norecords)+1);
					window.parent.parent.$("#id_StudentDetail").show();
					window.parent.parent.$("#student_pagenation").show();
					window.parent.parent.$("#id_No_students").hide();
					window.parent.parent.$("#successMsgHead").show();
	   				window.parent.parent.$("#klp_MsgTxt").html("Student Created Successfully");
					}
				}
			    /*else {      
                                       
					$("#popData").html(data);
					//NFInit();
				
				}*/
		}	
               });
	    }
   
var KLP_New_Pagination = function(resPerPage,Norecords,studentgroup){
	var lastPage = window.parent.parent.$("#id_lastPage").val();
	var url = window.parent.parent.$("#list_url").attr('value');
	//KLP_tot_Records(studentgroup);
	Norecords =Norecords+1
	totRec = parseInt(lastPage) * parseInt(resPerPage)
	//page = Norecords % resPerPage
	if (totRec < Norecords)
		lastPage = parseInt(lastPage) +1
	$.ajax({
        	url: url,
        	data:'&page='+lastPage,
        	success: function(data) {
			window.parent.parent.$('#searchRes').html(data);
			//window.parent.parent.tb_init('#id_StudentDetail a.thickbox, area.thickbox, input.thickbox');
        		return false;
			
        	}
        });
   }

   /*var KLP_tot_Records = function(studentgroup){
	$.ajax({
        	url: '/nostudents/'+studentgroup+'/',
        	success: function(data) {
			return data;
        	}
        });
    }*/

});  
</script>
        </form>
        </div>
