{% extends "index.html" %}
{% block midpart %}                                 
    <div class="leftCol">
    	<div class="KLP_BreadCrumb">
    		<!-- BreadCrumb Block -->
    		<span class="KLP_brCrumb">You are here: </span>
    		<span class="KLP_BreadCrumbTxt">  {{urHere}}  </span> >  
    		<span id="custom_BreadCrumb"><span>
    	</div>
    	<div id="successMsgHead" style="display:none;">
    		<!-- Success Message Block -->
    		<div class="shwMsg"> 
    			<span >
    				<img src="/static_media/images/correct_icon.jpg" height="18"/>
    			</span>
    			<span style="padding:2px;" id="klp_MsgTxt">
    				Created Successfully 
    			</span>
    		</div>
	</div>
	<div id="failureMsgHead" style="display:none;">
		<!-- Failure Message Block -->
    		<div class="failMsg"> 
    			<span >
    				<img src="/static_media/images/err_icon.jpg" height="18"/>
    			</span>
    			<span style="padding:2px;" id="klp_fail_MsgTxt">
    				Failure
    			</span>
    		</div>
	</div>
	<div id="dyncData">
    		<div class="staging"> Karnataka Learning Partnership </div>
	</div>
	<div id="subForm">
	</div>
    </div>
{% endblock %}
