<div class="KLP_Button_Header">
	<span class="KLP_Sub">
		<a class="KLP_Button"  href="/programme/assessment/{{programme.id}}/creator" onclick="return KLP_View(this);">Add Assessment</a> <!-- Add Assessment Button -->
	</span>
	<span class="KLP_Sub">
		<a class="KLP_Button"  href="/programme/{{programme.id}}/update/" onclick="return KLP_View(this);">Edit</a> <!-- Edit Button -->
	</span>
	<span class="KLP_Sub">
		<span class="KLP_SpanButton"  onclick="KLP_Del('{{programme.id}}', 'programme', '{{programme.name}}')">Delete</span> <!-- Delete Button -->
	</span>
	
</div>



<div class="detailHead">
	<span class="hedText">Programme Details</span>
</div>

<div class="boundDetail">
    <div class="cl-txtbx">
    	<label>Programme Name</label>
    </div>
    <div class="bng-cl">
	    <span>{{programme}}</span>	<!-- Show Programme Name -->
	    <input type="hidden" name="id" id="programme_id" size="15" value="{{programme.id}}" / > <!-- Programme Id val used while create new node in tree-->
	    <input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / >  <!-- For Success msg-->
    </div>
</div>
<div class="boundDetail">
    <div class="cl-txtbx">
    	<label>Description</label>
    </div>
    <div class="bng-cl">
    	<span>{{programme.description}}</span>	<!-- Programme Description -->
    </div>
</div>
<div class="boundDetail">    
    <div class="cl-txtbx">
    	<label>Start Date</label>
    </div>
    <div class="bng-cl">
    	<span>{% if programme.start_date %}{{programme.start_date|date:'d-m-Y'}}{% endif %}</span> <!-- Programme Start Date -->
    </div>
</div>
<div class="boundDetail">
    <div class="cl-txtbx">
    	<label>End Date</label>
    </div>
    <div class="bng-cl">
    	<span>{% if programme.end_date %}{{programme.end_date|date:'d-m-Y'}}{% endif %}</span>  <!-- Programme End Date -->
    </div>	
</div>


 



