{% load template_tags %}
<!-- This is for list all staff under institution -->
<div  id="searchRes">
<input type="hidden" id = "url"  value = "{{url}}">

<div class="detailHead">
<span class="hedText">Staff Details</span>
</div>

{% if staff_list %}

<div class="boundDetail">
<form action="." method="POST" name="staffForm" id="staffForm" onsubmit="return false;">{% csrf_token %}
	<input type="hidden" name="studentGroup" id="student_group_id" value="{{studentgroup_id}}" />
	<div class="tot-border">
		<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;width:100%" id="id_staffDetail">
		    <!-- Staff Heading Row -->
		    <th class="tot-border3">Name</th>  <th class="tot-border3">Date of Joining</th>  <th class="tot-border3">Gender</th>  <th class="tot-border3">Mother Tongue</th> <th class="tot-border3">Qualifiaction</th> <th class="tot-border3">Staff Type</th> <th class="tot-border3">Classes</th>
		    {%if map%}<th class="tot-border3">Map</th>{% else %}<th class="tot-border3">Edit</th><th class="tot-border4">Delete</th>{% endif %}
		    <!-- Staff Details -->
		    {% for staff in staff_list %}		    	
			<tr id='staff_{{staff.id}}'>
				<td  class="tot-border1">{{staff.first_name}} {{staff.middle_name}} {{staff.last_name}}</td>
				<td  class="tot-border1">{{staff.doj|date:"d-m-Y"}}</td>
				<td  class="tot-border1">{{staff.gender}}</td>
				<td  class="tot-border1">{{staff.mt}}</td>
				<td  class="tot-border1">
					{% for qualification in staff.qualification.all %}
						{{qualification}}
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</td>
				<td  class="tot-border1">{{staff.staff_type}}</td>
				<td  class="tot-border1">
					{% for assignedGrup in staff.getAssigendClasses%}
						{% if assignedGrup.name == '0' %}Anganwadi Class{% else %}{{assignedGrup.name}} {{assignedGrup.section}}{% endif%}
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</td>
				{%if map%}
					<td  class="tot-border1">
						<input type="checkbox" id="staff_{{staff.id}}" name="mapstaff" value="{{staff.id}}" {% if staff.id in existedTeachres%}checked{% endif %}/>
					</td>
				{% else %}
					<td  class="tot-border1">
						<a href="/staff/{{staff.id}}/update/?keepThis=True&TB_iframe=True&height=400&width=800" title="Edit Staff" class="thickbox">
							<img title="Edit" src="/static_media/images/pagebuilder_edit.gif">
						</a>
					</td>
					<td  class="tot-border2">
						<span onclick="KLP_Del('{{staff.id}}', 'staff', '{{staff.first_name}} {{staff.last_name}}')" style="color: blue; cursor: pointer;">
							<img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif">
						</span>
					</td>
				{% endif %}
			
			</tr>
		    {% endfor %}
		</table>
	</div>
<div id="student_pagenation">
	<!-- Pagination block -->
	<span id = 'page_{{previous}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-right:15px;{% if not has_previous %}display:none;{% endif %}"> previous </span>
		page <span id="id_currentPage">{{page}}</span> of <span id="id_totPages">{{pages}}</span>
	<span id='page_{{next}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:15px;{% if not has_next %}display:none;{% endif %}"> next </span>
</div>
	{%if map%}
		<div class="KLP_DE_Submit">
			<input type="submit" value="Map" id="map_staff_studentGroup"/>
		</div>
	{% endif %}
	
</form>
</div>

{% else %}
<div style="color:black;text-align:center;font-weight:bold;"> No Staff Found</div>
{% endif %}


<script>

function Pagination(thisObj){
	pages = $(thisObj).attr('id')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}





$(document).ready(function(){
	
$('#staffForm').submit(function (){
	$.post(
		'/map/staff_studentgroup/',
		$('#staffForm').serialize(),
		function(data) {
			$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html(data);
		}
	);
	return false;
});
});
</script>
</div>

