<!-- Display Student Group details on new sg creation -->
<div class="KLP_Button_Header">
	<span class="KLP_Sub">
		<a class="KLP_Button"  href="/studentgroup/{{studentgroup.id}}/update/?group_typ={{studentgroup.group_type}}&sch_typ={{studentgroup.institution.boundary.boundary_category}}" onclick="return KLP_View(this);">Edit {% if studentgroup.group_type|lower == 'center' %}Center{% else %}Class{% endif %}</a>
	</span>
	<span class="KLP_Sub">
		<span class="KLP_SpanButton"  onclick="KLP_Del('{{studentgroup.id}}', 'studentgroup', '{{studentgroup.name}}')">Delete {% if studentgroup.group_type|lower == 'center' %}Center{% else %}Class{% endif %}</span>
	</span>
	{% if not studentgroup.group_type|lower == 'center' %}
	<span class="KLP_Sub">
		<a class="KLP_Button thickbox" href="/studentgroup/{{studentgroup.id}}/student/call/?keepThis=true&TB_iframe=true&height=600&width=950" title="Add Students">Add Students</a>	
	</span>
	{% endif %}
</div>
<script>
$(document).ready(function(){
//	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>
<div class="detailHead">
<span class="hedText">Student Group Details</span>
</div>
<input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / >
<input type="hidden" id="studentgroup_id" value="{{studentgroup.id}}" / >

    <div class="boundDetail">
    <label>Boundary Name</label>
	<span>{{studentgroup.institution.boundary}}</span>
    </div>
    <div class="boundDetail">
    <label>School</label>
	<span>{{studentgroup.institution}}</span> 
    </div>
    <div class="boundDetail">
    <label>Student Group</label>
	<span>{{studentgroup.name}} {% if studentgroup.section %}{{studentgroup.section}} {% endif %}</span>
    </div>
    
</div>
