{% load template_tags %}
<div  id="searchRes">
{% if count != '0' %}
<div id="insertStudent" style="font-size: 16px; font-weight: bold; background-color: green;">
	{{count}} Students Mapped 
</div>
{% endif %}

<div class="KLP_Button_Header">
	<span class="KLP_Sub">
		<a class="KLP_Button" href="/studentgroup/{{studentgroup.id}}/update/?group_typ={{studentgroup.group_type}}&sch_typ={{studentgroup.institution.boundary.boundary_category}}" onclick="return KLP_View(this);">Edit</a>
	</span>
	<span class="KLP_Sub">
		<span class="KLP_SpanButton" onclick="KLP_Del('{{studentgroup.id}}', '{{studentgroup.group_type}}', '{{studentgroup.name}}')">Delete</span>
	</span>
	<span class="KLP_Sub">
		<a class="KLP_Button thickbox" href="/studentgroup/{{studentgroup.id}}/student/call/?keepThis=true&TB_iframe=true&height=600&width=950" title="Add Student">Add Students</a>
	</span>
</div>

<div class="detailHead">
<span class="hedText">Student Details</span>
<span id ="list_url" style="display:none;" value = "{{url}}"></span>
</div>

<form action="." method="POST" name="mapstudents" id="mapstudents">{% csrf_token %}
<div class="tot-border">
<table border="0" cellpadding="0" cellspacing="0" id="id_StudentDetail" style="width:100%;overflow:hidden;text-align:center;{% if not students_list %}display:none;{% endif %}">
   <tbody>
    <tr>
	<th class="tot-border3">First Name</th> <th class="tot-border3">Last Name</th> <th class="tot-border3"> DOB</th> <th class="tot-border3">Mother Tongue</th><th class="tot-border3">Gender</th> <th class="tot-border3">Relations</th> {% if studentgroup.group_type|lower == 'class' %}<th class="tot-border4">Select <span style="cursor:pointer;color:#1569C7;" onclick="checkAll()">All</span>&nbsp;/&nbsp;<span style="cursor:pointer;color:#1569C7;" onclick="unCheckAll()">None</span> </th> {% endif %}
	
    </tr>
    {% for student in students_list %}
    <tr id = "student_{{student.student.id}}">
	<td class="tot-border1">{{student.student.child.first_name}}</td>
	<td class="tot-border1">{{student.student.child.last_name}}</td>
	<td class="tot-border1">{{student.student.child.dob|date:"d M Y" }}</td>
	<td class="tot-border1">{{student.student.child.mt}}</td>
	<td class="tot-border1">{{student.student.child.gender}}</td> 
        <td class="tot-border1">{% for relation in student.student.child.getRelations %}{{relation.relation_type}}: {{relation.first_name}}<br />{% endfor %}</td> 
	{% if studentgroup.group_type|lower == 'class' %}
		<td class="tot-border1"><input type="checkbox" value = "{{student.student.id}}" name="students"/></td>

		<td class="tot-border2">
			<input type="checkbox" value = "{{student.student.child.id}}" name="students"/>
		</td>
	{% endif %}
    </tr>
    {% endfor %}
   </tbody>
</table>
</div>
<div id="student_pagenation" style="{% if not students_list %}display:none;{% endif %}">
	page <span id="id_currentPage">{{page}}</span> of <span id="id_totPages">{{pages}}</span>
	<input type="hidden" name="resultPerPage" id="id_resultPerPage" value="{{results_per_page}}" />
	<input type="hidden" value = "{{Norecords}}" id="Norecords" name="Norecords"/>
	<input type="hidden" name="lastPage" id="id_lastPage" value="{{pages}}" />
	{% if pages > 1 %}
		{% for i in pages|KLPrange %}  
			<span page='page_{{forloop.counter}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:10px;">{{ forloop.counter }}</span>
		{% endfor %}  
	{% endif %}
	
</div>

<div id="id_No_students" style="color:black;text-align:center;font-weight:bold;{% if students_list %}display:none;{% endif %}"> No Students Found</div>

<div style="padding:40px 0px;text-align:center;{% if studentgroup.group_type|lower == 'center' %}display:none;{% endif %}">
		<div class="detailHead">
			<span class="hedText">Select Centre To Map Students</span>
		</div>
			<span style="padding-right:5px;">Centres</span>
			<span style="padding-right:5px;"><select name="StdgrpCtr"><option value="None">--</option>{% for stdgrp in studentGroups %}<option value="{{stdgrp.id}}">{{stdgrp.name}}</option>{% endfor %}</select></span>
			<input type="hidden" name="school" value="{{studgrpParent.id}}" />
			<span><input type="submit" value="submit"/></span>
</div>

<div style="padding:20px 0px;text-align:center;{% if studentgroup.group_type|lower == 'center' %}display:none;{% endif %}">
	<div class="detailHead">
			<span class="hedText">Edit</span><span class="hedText" style="padding-left:40px;">Delete</span>
	</div>
	<span><input type="button" id="student_Edit" href="/studentgroup/{{studentgroup.id}}/student/editCall/?keepThis=true&TB_iframe=true&height=600&width=950" disabled="true" value="Edit"><input type="hidden" id="id_StudEditUrl" value="/studentgroup/{{studentgroup.id}}/student/editCall/?keepThis=true&TB_iframe=true&height=600&width=950"/></span>
	<span style="padding-left:35px;"><button type="button" id="student_Delete" disabled="true">Delete</button></span>
</div>


</form>


<script>
$(document).ready(function(){
    $('#mapstudents').submit(function (){
	$.post(
		'/mapstudents/'+{{studentgroup.id}}+'/',
		$('#mapstudents').serialize(),
		function(data) {
			$('#searchRes').html(data);
		}
	);
	return false;
    });
});

function Pagination(thisObj){
	pages = $(thisObj).attr('page')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#list_url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}

function SearchData(){
	if ($("#id_searchtext").val().length > 2){
		$.ajax({
			url: $('#list_url').attr('value'),
			data:'fieldName='+$("#id_fieldName").val()+'&searchtext='+$("#id_searchtext").val(),
			success: function(data) {
				$('#searchRes').html(data);
				tb_init('a.thickbox, area.thickbox, input.thickbox');
			}
		});
		return false;
	}
}
</script>
</div>

