#filter
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 156%;
	background-color: #000;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}


#box 
{
	display: none;
	position: absolute;
	top: 45%;
	left: 35%;
	width: 240px;
	height: auto;
	padding: 48px;
	margin:0;
	border: 1px solid black;
	background-color: white;
	z-index:101;
	overflow: none;        
}

#boxtitle
{
	position:absolute;
	float:center;
	top:0;
	left:0;
	width:296px;
	height:24px;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:4px solid #d0d53e;
	background-color: #BFBF30;
	color:white;
	text-align:center;
        font-size:1.3em;
        font-weight:bold;
}

