#container{
    width:94%;
    margin:auto;
}
.aksHead{
    width:95%;
    text-align:center;
}
.boundRow{
    height:40px;
    margin:10px auto;
    padding:5px 10px;    
    width:95%;
}
.boundLink{
    float:left;
    width:18%;
    font-size:14px;
    padding:2px 10px;
    text-decoration:none;
}

a:link, a:visited {
	color: #0000FF;
	text-decoration:none;
}

a:link:hover,
a:visited:hover {
	color: #75ad0a;
}
.adNewBoundTyp{
    font-size:16px;
    font-weight:bold;
    margin:0 10px;
    cursor:pointer;
}

.selBoundary{
    float:left;
    width:95%;
    margin:5px;
}
.selGo{
    margin-left:15px;
}
.delConf{
  color: #0000FF;
  cursor:pointer;
}
.delConf:hover{
   color: #75ad0a; 
}
.tablebg {
    background:none repeat scroll 0 0 #F2F2E6;
    border-color:#FFFFFF #666661 #666661 #FFFFFF;
    border-style:solid;
    border-width:1px;
    margin-bottom:36px;
    padding:10px;
    width:95%;
}
.boundDetail{
    clear:both;
    padding:5px 20px;
}
.boundDetail label {
    float:left;
    padding-right:5px;
    width:30%;
}
.leftCol{
    width:50%;
    float:left;
    padding:5px;
}
img{
    border:none;
}
.klp{
	padding:20px; 
	font-weight:bold;
	color:#75AD0A; 
	font-size:25px;
	width:95%;
	text-align:center;
}
.addBound{
	float:left;
	text-decoration:none;
	background-color:#fff;
	text-align:center;
	padding:5px 10px;
	width:95%;
}
.treeMen{
   float:left;
       text-decoration:none;        
       padding:5px 10px;
       width:95%;
}

.detailHead{
    clear:both;
    padding:5px 20px;
    text-align:center;
}
.hedText{
    font-size:14px;
    font-weight:bold;
    color:#75AD0A;
}
