{% extends "index.html" %}
{% block leftpart%}{% endblock %}
{% block midpart %}                                 
    <form action="/akshara/boundary-schools/" name="partitionForm" id="partitionForm" class="niceform" >
        <div style="width:95%;text-align:center;">
        <span style="padding:5px 10px;">
        <select name="selBoundary" id="selBoundary" size="1">
            {% for boundary in boundaryList %}
                <option value="{{boundary.id}}">{{boundary.name}}</option>
            {% endfor %}            
        </select>
        </span>
        <span style="padding:5px 10px;">        
            <input type="submit" value="Submit"/>
        </span>
        </div>
    </form>                                                        

{% endblock %}
