{% extends "index.html" %}
{% block midpart %}                <script type="text/javascript" src="/static_media/js/staticStr.js"></script>
                <div class="leftCol" id="dyncData">
                    <!--div class="boundDetail">
                        <label>Parent</label>
                        <span>{{boundaryObj.parent}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Name</label>
                        <span>{{boundaryObj.name}}</span>
                    </div>
                    <div class="boundDetail">
                        <label>Boundary Type</label>
                        <span>{{boundaryObj.boundary_type}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Geo Code</label>
                        <span>{{boundaryObj.geo_code}}</span>
                    </div>
                    <div class="boundDetail"> 
                        <span class=" gallery clearfix">   
                            <a href='/akshara/school/{{boundary_id}}/entry?iframe=true&amp;width=700&amp;height=500' rel="prettyPhoto[iframe]">
                                Add School
                            </a> 
                        </span>
                    </div-->    
                   <div style="padding:20px; font-weight:bold;color:#75AD0A; font-size:14px;width:95%;text-align:center;"> Karnataka Learning Program </div>
                </div>                
    <script type="text/javascript">
	$(document).ready(function(){
		$("#browser").treeview({
			toggle: function() {
				console.log("%s was toggled.", $(this).find(">span").text());
			}
		});
		
        
	});
	function schoolView(thisObj){	    	    
	    $.ajax({
            url: thisObj.href,                    
            success: function(data) {                                                         
                $("#dyncData").html(data);                     
            }
        });  
          
	    return false;
	    
	}
	function schoolEdit(thisObj){	    	    
	    $.ajax({
            url: thisObj.href,                    
            success: function(data) {                                                         
                $("#dyncData").html(data);                     
            }
        });  
          
	    return false;
	    
	}
	</script>
	
{% endblock%}
