{% extends "index.html" %}
{% block leftpart%}{% endblock %}
{% block midpart %}
      <table>
      	<tr>
      		<td>
			<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="myForm" name="myForm" onsubmit="return false;">{% csrf_token %}
			    <input type="hidden" name="url" value="{{url}}" id="url" />                
      			<table class="tblprofile">
      			    <input type="hidden" name="sid" id="id_school" value = '{{school_id}}' / >      				
      				<tr>
      					<td class="rightprofile">Name</td>
      					<td class="leftprofile">{{form.name}}{{form.active}}
      					{% for error in form.name.errors %}
              	<span style="color:red">{{ error }}</span>
              {% endfor %}</div></td>
      				</tr>
      				<tr>
      					<td class="rightprofile">Section</td>
      					<td class="leftprofile">
					<select size="10" name="section" id="id_section" multiple="multiple">
					{% for sections in sectionnames %}
						<option value="{{sections}}">{{sections}}</option>
					{% endfor %}
					</select>
					</td>
      				</tr>
      				
      				<tr>
      					<td class="rightprofile">
						<input type="submit" value="Add Class" />
      					</td>
      				</tr>
      			</table>
      		</td>
      	</tr>
     </table>
</fieldset>
</div>
</form>
<script >
 (function($) { $(function() {
  autoCompleteCall('/akshara/get-info/','school,section','false,true','1,0')

});})(jQuery);
</script>

{% endblock %}
