<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="/static_media/js/niceforms.js"></script>
<script type="text/javascript" src="/static_media/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static_media/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static_media/js/call_autocomplete.js"></script>
<script type="text/javascript" src="/static_media/js/jquery.treeview.js"></script>
<script type="text/javascript" src="/static_media/js/cleanup_hidden.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/form.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/prettyPhoto.css" charset="utf-8"/>
<script type="text/javascript" src="/static_media/js/jquery.prettyPhoto.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/jquery.treeview.css" />
</head>

<body>
<div id="container">

{% if entry == "Add" %}
<fieldset>
    <legend>{{legend}}</legend>
{% else %}
<div class="tablebg">
{% endif %}
	{% block leftpart %}
	    <div class="leftCol">
            <ul id="browser" class="filetree treeview-famfamfam">
                <li>
                    <span class="folder">
                        {{boundaryObj}}                                                                                                
                    </span>
                    <ul id="{{boundaryObj.id}}_boundary">
                        {% for school,classes in schoolDict.iteritems %}
                            <li {% ifequal school.id schoolObj.id %} {% else %} class="closed" {%endifequal%}>
                                <span class="folder gallery clearfix">{{school.name}} 
                                    <a href="/akshara/school/{{school.id}}/edit/?iframe1=true&amp;width=700&amp;height=500" rel="prettyPhoto[iframe1]"> <img src="/static_media/images/pagebuilder_edit.gif" width="13" title="Edit"/> </a>
                                    <span onclick="deleteSchool('{{school.id}}', 'school')" class="delConf"><img src="/static_media/images/PageRow_delete.gif" width="11" title="Delete"/></span>
                                    <a href='/akshara/school/{{school.id}}/view/'> <img src="/static_media/images/libraryfolder.gif" width="13" title="View"/> </a>
                                </span> 
                                {% if classes %}
                                    <ul id="folder{{forloop.counter}}">
                                        {% for class in classes %}
                                            {%for clas,secs in class.iteritems %}	
						                        <li {% ifequal clas.id classObj.id %} {% else %} class="closed" {%endifequal%}>
						                            <span class="folder gallery clearfix">
						                                {{clas.name}} 
						                                <a href="/akshara/class/{{clas.id}}/edit/?iframe3=true&amp;width=700&amp;height=200" rel="prettyPhoto[iframe3]"> <img src="/static_media/images/pagebuilder_edit.gif" width="13" title="Edit"/> </a>
						                                <span onclick="deleteSchool('{{clas.id}}', 'class')" class="delConf"><img src="/static_media/images/PageRow_delete.gif" width="11" title="Delete"/></span>
						                                <a href="/akshara/class/{{clas.id}}/view/"> <img src="/static_media/images/libraryfolder.gif" width="13" title="View"/> </a>
						                            </span>			
						                            <ul id="folder1{{forloop.counter}}">			                        
						                                {% for section in secs %}
						                                    {% for sect,students in section.iteritems %}
						                                        <li {% ifequal sect.id sectionObj.id %} {% else %} class="closed" {%endifequal%}>
						                                            <span class="folder">
						                                                {{sect}}
						                                                <span onclick="deleteSchool('{{sect.id}}', 'section')" class="delConf"><img src="/static_media/images/PageRow_delete.gif" width="11" title="Delete"/></span>
	    					                                            <a href="/akshara/section/{{sect.id}}/view/"> <img src="/static_media/images/libraryfolder.gif" width="13" title="View"/> </a>
	    					                                        </span>
	    					                                        {% if students %}
	    					                                            <ul>
	    					                                                {% for student in students %}
                                                                               <li>
	    					                                                        <span class="file gallery clearfix">
	    					                                                            {{student.child}}
	    					                                                            <a href="/akshara/student/{{student.id}}/edit/?iframe2=true&amp;width=700&amp;height=500" rel="prettyPhoto[iframe2]"> <img src="/static_media/images/pagebuilder_edit.gif" width="13" title="Edit"/> </a>
		    				                                                            <span onclick="deleteSchool('{{student.id}}', 'student')" class="delConf"><img src="/static_media/images/PageRow_delete.gif" width="11" title="Delete"/></span>
		    				                                                            <a href="/akshara/student/{{student.id}}/view/"><img src="/static_media/images/libraryfolder.gif" width="13" title="View"/></a>
		    				                                                        </span>
		    				                                                    </li>     
		    				                                                {% endfor %}
		    				                                            </ul>
		    				                                        {% endif %}
		    				                                    </li>
		    				                                {% endfor %}						                                
		    				                            {% endfor %}
						                            </ul>
						                        </li>    
						                    {% endfor %} 
						                {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>                    
         </div>
    {% endblock %}
	{% block midpart %}{% endblock %}

{% if entry == "Add" %}
</fieldset>
{% else %}
</div>
{% endif %}
<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){		    
			$(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook', });
			//callback: function(){window.location.reload(true);}
		});
		</script>
		<script>
        function deleteSchool(schoolId,type){
            var conf = confirm("Are You Sure, You Want to delete "+type);            
            if (conf==true){                                
                $.ajax({
                    url: '/akshara/'+type+'-delete/',
                    data: 'schoolId='+schoolId,
                    success: function() {                        
                        //window.reload();
                        window.location.reload(true);
                    }
                });

            }                                    
        }
    </script>
    <script>
  $(document).ready(function(){  
   $("#myForm").submit(function(){            
    $.post(  
        $('#url').val(),  
        $("#myForm").serialize(),  
                function(data){                                                          
                    parent.location.reload();             
               }  
           );  
       });  
});  
</script>
</div>
</body>
</html>
