{% extends "index.html" %}

{% block title %} {{pagetitle}} {% endblock %}

{% block midpart %}

<form action="." method="POST" enctype="multipart/form-data" class="niceform">{% csrf_token %}
            
                <input type="hidden" size="15" id="boundary" value='{{schoolobj.boundary.name}}' />
       	        <input type="hidden" name="boundary" id="id_boundary" size="15" value='{{boundary_id}}' />
       	        <table>
           	        <tr>
               	        <td>
                            <table class="tblprofile">                
                                <tr>
                                    <td><label for="address">Address:</label></td>
                                    <td>
                                        <input type="text" size="15" id="address" value='{{schoolobj.address.address}}' />
                                        <input type="hidden" name="address" id="id_address" size="15" value='{{schoolobj.address.id}}' />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">Dise Code:</label></td>
                                    <td>
                                        <input type="text" name="dise_code" id="id_dise_code" size="15" value='{{schoolobj.dise_code}}' />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">Name:</label></td>
                                    <td>
                                        <input type="text" name="name" id="id_name" size="15" value='{{schoolobj.name}}' />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">Category:</label></td>
                                    <td>
                                        <input type="text" name="cat" id="cat" autocomplete="off" class="ac_input" size="15" value='{{schoolobj.cat}}' />{{form.cat}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">School Type:</label></td>
                                    <td>
                                        <input type="text" name="school_type" id="school_type" autocomplete="off" class="ac_input" size="15" value='{{schoolobj.school_type}}' />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">Language:</label></td>
                                    <td>
                                        <textarea rows="2" cols="15" name="moi" id="moi" autocomplete="off" class="ac_input">{{schoolobj.moi}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="address">Management:</label></td>
                                    <td>
                                        <input type="text" name="mgmt" id="mgmt" autocomplete="off" class="ac_input" size="15" value='{{schoolobj.mgmt}}' />
                                    </td>
                                </tr>    
                                <tr>
                                    <td>
                                        <input type="submit" value="Submit" />
                                    </td>
                                </tr>        
                            </table>
                        </td>
                    </tr>
                </table> 
        </form>
<script>
(function($) { $(function() {
  autoCompleteCall('/akshara/get-info/','boundary,address,cat,school_type,moi,mgmt','false,false,false,false,true,false','1,1,0,0,0,0')


});})(jQuery);
</script>

{% endblock %}
