{% extends "index.html" %}
{% block midpart %}                                                                          
                <div class="leftCol">
                    <div class="boundDetail">
                        <label>Boundary</label>
                        <span>{{boundaryObj.name}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>School</label>
                        <span>{{schoolObj.name}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Class</label>
                        <span>{{classObj.name}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Section</label>
                        <span>{{sectionObj}}</span>
                    </div>
                    <div class="boundDetail"> 
                        <span class=" gallery clearfix">   
                            <a href='/akshara/student/{{sectionObj.id}}/entry?iframe=true&amp;width=700&amp;height=300' rel="prettyPhoto[iframe]">
                                Add Student
                            </a> 
                        </span>
                    </div>    
                </div>            
    <script type="text/javascript">
	$(document).ready(function(){
		$("#browser").treeview({
			toggle: function() {
				console.log("%s was toggled.", $(this).find(">span").text());
			}
		});				
	});
	</script>
{% endblock%}
