{% extends "index.html" %}
{% block midpart %}                                                                          
                <div style="width:40%;float:left;padding:2px;">
                    <div class="boundDetail">
                        <label>Boundary</label>
                        <span>{{boundaryObj}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>School</label>
                        <span>{{schoolObj}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Class</label>
                        <span>{{classObj}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Section</label>
                        <span>{{sectionObj}}</span>
                    </div>
                    <div class="boundDetail">    
                        <label>Student Name</label>
                        <span>{{studentobj.child}}</span>
                    </div>                       
                </div>            
    <script type="text/javascript">
	$(document).ready(function(){
		$("#browser").treeview({
			toggle: function() {
				console.log("%s was toggled.", $(this).find(">span").text());
			}
		});				
	});
	</script>
{% endblock%}
