{% extends "index.html" %}
{% block leftpart%}{% endblock %}
{% block midpart %}

<form action="." method="POST" enctype="multipart/form-data" class="niceform" name="myForm" id="myForm" onsubmit="return false;">{% csrf_token %}

      			<table class="tblprofile">
      			    <input type="hidden" name="url" value="{{url}}" id="url" />                    
      			    <input type="hidden" id="id_class_section" name="class_section" value="{{section_id}}"/>      				
      				<tr>
      					<td class="rightprofile">Child</td>
      					<td class="leftprofile">
					<input type="text" size="15" id="child" value='{{studentobj.child}}' />
       	        			<input type="hidden" name="child" id="id_child" size="15" value='{{studentobj.child.id}}' />
					<td class="gallery clearfix">
					    {% if entry %}
						<span class="adNewBoundTyp">
						    <a href="/akshara/child-entry/?iframe=true&amp;width=500&amp;height=300" rel="prettyPhoto[iframe]" oncontextmenu="return false">+</a>
						</span>
					    {% endif %}
					</td>
					</td>
      				</tr>
      				<tr>
      					<td class="rightprofile">Academic</td>{{form.active}}
      					<td class="leftprofile">{{ form.academic }}
      					{% for error in form.academic.errors %}
					<span style="color:red">{{ error }}</span>
					{% endfor %}
					<td class="gallery clearfix">
					    {% if entry %}
						<span class="adNewBoundTyp">
						    <a href="/akshara/child-entry/?iframe=true&amp;width=500&amp;height=300" rel="prettyPhoto[iframe]" oncontextmenu="return false">+</a>
						</span>
					    {% endif %}
					</td></td>
      				</tr>
      				
      				<tr>
      					<td class="rightprofile">      					 
						<input type="submit" value="Add Student" />
      					</td>
      				</tr>
      			</table>
</form>
<script>
(function($) { $(function() {
  autoCompleteCall('/akshara/get-info/','child','false','1')
  Cleanuphidden('child');
});})(jQuery);
</script>

{% endblock %}
