{% load template_tags %}

<div  id="searchRes" style="width:700px;">
	<div class="detailHead">
		<span class="hedText">{{schoolIdentity}} - Student Details</span>
	</div>
		<div class="KLP_lef_Div">
			<table cellspacing="0" cellpadding="0" border="1" id="ans_Student_Detail">
	    			<tr class="KLP_txt_cen">
	    				<td class="KLP_Ans_Fix">
	    					<div class="KLP_Fix_Div">
		    					<table>
		    						<tr>
		    						
					    				<td class="KLP_td_width">S.Id</td>
					    				<td class="KLP_td_width">
					    					Name
					    					<input type="hidden" name="studentgroup" id="studentgroup_id" value="{{studentgroup_id}}" />
					    				</td>
					    			</tr>
					    		</table>
				    		</div>
				    	</td>
	    			</tr>
	    			{% for i in students_list%}
	    				<tr class="KLP_txt_cen">
	    					<td class="KLP_Ans_Fix">
	    						<div class="KLP_Fix_Div">
		    						<table>
		    							<tr>
										<td class="KLP_td_width">{{i.id}}</td>
										<td class="KLP_td_width">
											<span class="blue" title="Father: {{i.child.getFather.first_name}}, Mother: {{i.child.getMother.first_name}}, Gender: {{i.child.gender}}, MT: {{i.child.mt}}, DOB: {% if i.child.dob %}{{i.child.dob|date:'d-m-Y'}}{% endif %}">{{i.child.first_name}}&nbsp;{{i.child.last_name}}</span><span class="KLP_Form_status" id="id_Student_{{i.id}}_status">Form Status</span>
										
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
	    			{% endfor %}		
			</table>	
			
		</div>
		<div class="KLP_Scroll_Div">
			<table cellspacing="0" cellpadding="0" border="1" width="100%" id="id_ans_data_point">
	     			<tr>
	     				<td class="KLP_Ans_Fix">
	     					<div class="KLP_Fix_Div">
		     					<table>
		     						<tr>
									{% if assessmentObj|getAssessmentQuestions:'length' %}
										{% for ques in assessmentObj|getAssessmentQuestions:'list' %}
						    					<td class="KLP_td_height"><span class="blue" title="{{ques}}">{{ques}}</span></td>
										{% endfor %}
										<td class="KLP_td_height"> Submit </td>
					    				{% else %}
										<td class="KLP_td_height">&nbsp;</td>
									{% endif %}
						
		     						</tr>
		     					</table>
	     					</div>
	     				</td>
	     			</tr>
	     
	     			{% for i in students_list%}{{students_list}}
	     				<tr class="KLP_txt_cen">
						<td class="KLP_Ans_Fix">
							<div class="KLP_Fix_Div">
								<form name="student_{{i.id}}" id="id_Student_{{i.id}}" class="validForm" onsubmit="return false;">
									<input type="hidden" name="student_groupId" value="{{studentgroup_id}}" />
									<input type="hidden" name="programId" value="{{filter_id}}"/>
									<input type="hidden" name="assessmentId" value="{{assessmentObj.id}}"/>
									<input type="hidden" name="student" value="{{i.id}}"/>
								
									<table>
										<tr>
										
											{% for ques in assessmentObj|getAssessmentQuestions:'list' %}
											
			        							<td class="KLP_td_height">
			        								{% if ques|dEStatus:i == 2 or user.id == ques|firstUser:i and ques|dEStatus:i > 1%}
													{{ques|getAnswerValue:i}}
			        								{% else %}
			            						
												<input type="text"	
									   					       name="student_{{i.id}}_{{ques.id}}" 
									   					       id="id_student_{{i.id}}_{{ques.id}}" 
									   					       tabindex="1"
									   					       value="{% if ques|getAnswer:i %}{%if user.id == ques|firstUser:i and ques|dEStatus:i == 1  %}{{ques|getAnswerValue:i}}{% endif %}{% endif %}" 
									   					       size="3"
									   					       class="required {% if ques.question_type == 2 %}letters{%else%}number{%endif%}"
									   					       {% if user.id != ques|firstUser:i and ques|dEStatus:i == 1%}dE="true" sE="true"{% endif %}
									   					       />
									   					       
									   			{% endif %}
									   					
												
			                					
			            							</td>
			            							{% if forloop.last %}
			            								<td class="KLP_td_height"> <input type="submit" tabindex="1" url="/answer/data/entry/" formName="id_Student_{{i.id}}"  value="submit"  {%if ques|firstUser:i == user.id and ques|dEStatus:i > 1 or ques|dEStatus:i == 2%}disabled{%endif%}/>       
			            								
			            								<script>
													$().ready(function() {
														KLP_validateScript("id_Student_{{i.id}}");
													});
												</script>

			            							{% endif %}
			            							
			        						{% endfor %}
											
										</tr>
									</table>
			        				</form>
	                				</div>
	                				
	                			</td>
	            				
					</tr>
				
					
	    			{% endfor %}
			</table>
			
</div><br/>
<div id="student_pagenation" style="{% if not students_list %}display:none;{% endif %}">
	<!--span page = 'page_{{previous}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-right:15px;{% if not has_previous %}display:none;{% endif %}"> previous </span-->
		page <span id="id_currentPage">{{page}}</span> of <span id="id_totPages">{{pages}}</span>
		<input type="hidden" name="resultPerPage" id="id_resultPerPage" value="{{results_per_page}}" />
		<input type="hidden" value = "{{Norecords}}" id="Norecords" name="Norecords"/>
		<input type="hidden" name="lastPage" id="id_lastPage" value="{{pages}}" />
		{% if pages > 1 %}
			{% for i in pages|KLPrange %}  
	   			<span page='page_{{forloop.counter}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:10px;">{{ forloop.counter }}</span>
			{% endfor %}  
		{% endif %}
	<!--span page='page_{{next}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:15px;{% if not has_next %}display:none;{% endif %}"> next </span-->
</div>
<span id ="list_url" style="display:none;" value = "{{url}}"></span>
<div class="KLP_DE_Submit">
	<!--input type="submit" class="KLP_Button" name="ans" value="Submit" id="id_ans_global_submit" tabindex="2"/-->
	<span class="KLP_SpanButton"  id="id_ans_global_submit">Submit</span>
	{% if group_typ|lower == 'class' %}
	<span class="KLP_DE_AdStudent">
		<a href="/studentgroup/{{studentgroup_id}}/student/creator/?keepThis=True&map_Student=1&assessment_id={{assessmentObj.id}}&TB_iframe=True&height=400&width=800" title="Create New Student to Map" class="thickbox KLP_Button"> Add Student </a>
	</span>
	{% endif %}
</div>


<script>
$(document).ready(function(){
      $('.blue').bt();
	
       
       $("#id_ans_global_submit").click(function(){
       		var forms = $("form");
       		forms.each(function(index){
       			var dataForm = $(this).find("input[type=text]:visible").length
       			if (dataForm > 0){
	       			var formId  = $(this).attr("id");
	  			$('#'+formId).trigger('submit');
	       			KLP_validateScript(formId);
	       		}
       			
       		});
       });
       
      
});
function Pagination(thisObj){
	pages = $(thisObj).attr('page')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#list_url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}
</script>



