{% load object_permission_tags %}

<tr id="group_{{group.id}}" class="group">
<td class="name">
    {% if user|group_admin:group %}
        {% permalink group group.name %}
    {% else %}
        {{ group.name }}
    {% endif %}
</td>
<td class="permissions">
    <a href="{{url}}/group/{{group.id}}" class="permissions" title="click to edit">
    {% for permission in group|permissions:object %}
        {{permission}}{%if not forloop.last%}, {%endif%}
    {% empty %}
    <span class="none">None</span>
    {% endfor %}
    </a>
</td>
{%block table_cells%}{%endblock%}
<td><div class="delete" title="delete"></div></td>
</tr>