{% load template_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/static_media/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static_media/js/niceforms.js"></script>
<script type="text/javascript" src="/static_media/js/thickbox.js" charset="utf-8"></script>


<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/thickbox.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/form.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/style.css" />

</head>

<body>
<div id="container">

{% if entry == "Add" %}
<fieldset>
    <legend>{{legend}}</legend>
{% else %}
<div class="tablebg">
{% endif %}

<div id="popData">
<div class="detailHead">
<span class="hedText">Edit Form</span> <span class="KLP_DE_AdStudent"><a href="#" onclick="closeForm()"> Click here to Close </a></span>
</div>
<!-- This to show bulk Students to edit -->
{% for assessment_lookup_id in assessment_lookuplist %}
	
		<IFRAME SRC="/assessment/{{assessment_id}}/assessment_lookup/{{assessment_lookup_id}}/update/{{forloop.counter}}" 
	     		WIDTH=350 HEIGHT=50 style="clear:both;float:none;border:none"
	     		ALIGN=RIGHT
	     	>
		</IFRAME><br/><br/>
{% if forloop.last %}
    <script>
    	$(document).ready(function(){
    		firstIframe = $.find("iframe:first");
    		$(firstIframe).load(function(){
    			setTimeout(function(){
				$('body', $(firstIframe).contents()).find("#id_form-0-first_name").focus();
    		        },200);
    			
    		});
    		
    	});
    </script>
{% endif %}
	
{% endfor %}

<script>
	function closeForm(){
		window.parent.tb_remove();
	}
</script>
</div>

</body>
</html>

