{% load template_tags %}
<div class="detailHead">
	<span class="hedText">Boundary Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="boundaryForm" name="boundaryForm" onsubmit="return false;">{% csrf_token %}
	{{form.management_form}}
	<input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
	<input type="hidden" id="url" value="/boundary/{{boundary.id}}/update/" />
	<input type="hidden" id="boundary_id" value="{{boundary.id}}" />
	<input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
	{% with form.forms|last as entryForm %}
		<table>
			<tr>
				<td>
					<table class="tblprofile">
						<tr>
      					                <td class="rightprofile"><label class="KLP_required">Name</label></td>
      					                <td class="leftprofile">
                                            			{% render_field entryForm.name 'tabindex=1' %}
                                            			<!-- Boundary Name Field -->
                                        		</td>
                                        		<td>
                                        			<!-- If Name field has errors show errors -->
                        					{% for error in entryForm.name.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                        				</td>
      				                </tr>
      				                <tr>
      					                <td class="rightprofile"></td>
      					                <td class="leftprofile">
                                            			<span style="display:none;">
									<input type="hidden" id="id_form-0-parent" value="{{boundary.parent.id}}" name="form-0-parent"/>
                                            				{{entryForm.boundary_category}}
                                            				{{entryForm.boundary_type}}
                                            				{{entryForm.active}}
                                            				{{entryForm.id}}
                                            				<input type="hidden" id="id_old" value="{{boundary.name}}"/>
                                            			</span>
                                        		</td>
      				                </tr>
      				                <tr><td> &nbsp;</td></tr>
      						<tr><td> &nbsp;</td></tr>
      						<tr><td> &nbsp;</td></tr>
      			            	    	<tr>
      					                <td class="rightprofile">
                    						<input type="submit" name="save" id="id_save" value="Save" tabindex=2 />
      				                	</td>
      				                	<!--td>
                                    				<input type="submit" name="save_and_continue" id="id_save_and_continue" value="Save And Continue" tabindex=3 />
                                			</td>
                                			<td>
                    	    					<input type="submit" name="save_and_create" id="id_save_and_create" value="Save And Create Another" tabindex=4 />
      							</td-->
      				                </tr>
      			                </table>
      		                </td>
      	                </tr>
                    </table>
               {%endwith%}
            </div>
        </form>   
<script>
  $(document).ready(function(){
  
   $("#id_form-0-boundary_type").val($("#boundary_type").val());
   
     
   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
   	KLP_Hide_Msg();
   	$("#id_form-buttonType").val('save');
   	parentVal = $("#id_form-0-parent").val();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   });
   
   $("#id_save_and_continue").click(function(){
   	/* Clicking on save and continue button hide all prv msgs and call form submit and pass button type is save and continue */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-parent").val();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	$("#id_form-buttonType").val('save and continue');
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   });
   
   $("#id_save_and_create").click(function(){
   	/* Clicking on save and add another button hide all prv msgs and call form submit and pass button type is save and add another */
   	KLP_Hide_Msg();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	parentVal = $("#id_form-0-parent").val();
   	categoryVal = $("#id_form-0-boundary_category").val();
   	$("#id_form-buttonType").val('save and add another');
   	KLP_form_submit(parentVal, 'id_form-0-boundary_category', categoryVal, 'id_form-0-parent');
   	
   	
   });
    
   
   
   var KLP_form_submit = function(parentVal, categoryId, categoryVal, parentId){
        /* post data using post method */
        /* capture new name to change values in node */
    	newName = $('#id_form-0-name').val();
   	$.post(
        	'{{boundary.get_update_url}}',
        	$("#boundaryForm").serialize(),
                function(data){
                    /* Get Response */
                    $("#dyncData").html(data);
                    NFInit();
                    $('input:visible:enabled:first').focus();
                    if (categoryId != null)
                    	$("#"+categoryId).val(categoryVal);
                    if (parentId != null)
                    	$("#"+parentId).val(parentVal);
                    var successStatus = $("#success_status").val();
                    if 	(successStatus == 'True'){	
                        /* If It success show success msg and update node in tree */
                    	treeNode=$("#boundary_{{boundary.id}}").find("a:first");
                    	$(treeNode).attr("title", newName);
                    	$("#boundary_{{boundary.id}}_text").html(newName);
                    	KLP_BredaCrumb(treeNode);
                    	$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html("Boundary Updated Successfully"); 	
   		    }
                    
               }
           );
   }
   
  
});
</script>              


