{% load template_tags %}
<div id="popData">
<script type="text/javascript" src="/static_media/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static_media/js/niceforms.js"></script>
<script type="text/javascript" src="/static_media/js/thickbox.js" charset="utf-8"></script>


<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/thickbox.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/form.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/style.css" />
<form action="." method="POST" enctype="multipart/form-data" id="childForm" onsubmit="return false;" >{% csrf_token %}
			    
			     <input type="hidden" name="url" id="id_StudUpdateUrl" value="/student/{{child.id}}/update/" />
			     <input type="hidden" name="url" id="replace_id" value="{{child.id}}" />
			     
			     <input type="hidden" name="studentgroup" value="{{extra_context|displayValue:'studentgroup_id'}}" id="id_studentgroup" />
			    
                            <input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
			    <input type="hidden" id="school_id" size="15" value="{{extra_context|displayValue:'prevousId'}}" / >
			    <input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
			    <input type="hidden" id="replaceTrue" name="replaceTrue" size="15" value="True" / >
			    <input type="hidden" id="mapStudent" name="mapStudent" size="15" value="{{extra_context|displayValue:'mapStudent'}}" / >
			    <input type="hidden" id="assessment_id" name="assessment_id" size="15" value="{{extra_context|displayValue:'assessment_id'}}" / >
			    <table class="tblprofile">
				{{form.management_form}}
				{% for entryForm in form.forms %}

				<tr>
				    <!-- Child Form Headings -->
				    <td align="center"><label class="KLP_required">First Name:</label></td>
				    <td align="center"><label>Middle Name:</label></td>
				    <td align="center"><label>Last Name:</label></td>
				    <td align="center"><label>UID:</label></td>
				    <td align="center"><label>Other Studnet Id:</label></td>
				    <td align="center" style="min-width:200px;max-width:200px"><label class="KLP_required">Date of Birth:</label></td>
				    <td align="center"><label class="KLP_required">Gender:</label></td>
				    <td align="center"><label class="KLP_required">Mother Tongue:</label></td>
				    <td align="center">&nbsp;</td>
				    <td align="center"><label class="KLP_required">Mother First Name:</label></td>
				    <td align="center"><label>Mother Middle Name:</label></td>
				    <td align="center"><label>Mother Last Name:</label></td>
				    <td align="center"><label class="KLP_required">Father First Name:</label></td>
				    <td align="center"><label>Father Middle Name:</label></td>
				    <td align="center"><label>Father Last Name :</label></td>
				    <td align="center">&nbsp;</td>
				</tr>
				<tr>
				    <!-- render all fields for child -->
				    <td align="center">
					{% render_field entryForm.first_name 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.middle_name 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.last_name 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.uid 'tabindex=1' %}
				    </td>
				    <td align="center">
					<input type="text" name="form-0-otherId" id="id_form-0-otherId" value="{% if extra_context|dictValue:'form-0-otherId' %}{{extra_context|dictValue:'form-0-otherId'}}{% else %}{{child.getStudent.other_student_id}}{% endif %}" tabindex=1 size="3"/>
				    </td>
				    <td align="center" style="min-width:200px;max-width:200px">
					{% render_field entryForm.dob 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.gender 'tabindex=1' %}
				    </td>
				    <td align="center">
					{% render_field entryForm.mt 'tabindex=1' %}
					<input type="hidden" name="form-0-child" id="id_child" size="15" value="{% if extra_context|dictValue:'form-0-otherId' %}{{extra_context|dictValue:'form-0-otherId'}} {% else %} {{child.getStudent.other_student_id}} {% endif %}"/>
					<input type="hidden" name="form-0-boundary" id="id_boundary" size="15" value="{{extra_context|displayValue:'referKey'}}"/>
					<input type="hidden" name="form-0-active" id="id_active" size="15" value="2"/>
					<input type="hidden" name="ModelName" id = "model" value="{{extra_context|displayValue:'modelName'}}" />
				    </td>
				    <td align="center">&nbsp;</td>
				    <td align="center">
					<input type="text" name = "form-0-motherfirstname" id="id_form-0-motherfirstname" value="{% if extra_context|dictValue:'form-0-motherfirstname' %}{{extra_context|dictValue:'form-0-motherfirstname'}}{% else %}{{child.getMother.first_name}}{% endif %}" tabindex='1' size=8/>
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-mothermiddlename" id="id_form-0-mothermiddlename" value="{% if extra_context|dictValue:'form-0-mothermiddlename' %}{{extra_context|dictValue:'form-0-mothermiddlename'}}{% else %}{{child.getMother.middle_name}}{% endif %}" tabindex='1' size=8/>
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-motherlastname" id="id_form-0-motherlastname" value="{% if extra_context|dictValue:'form-0-motherlastname' %}{{extra_context|dictValue:'form-0-motherlastname'}}{% else %}{{child.getMother.last_name}}{% endif %}" tabindex='1' size=8/>
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-fatherfirstname" id="id_form-0-fatherfirstname" value="{% if extra_context|dictValue:'form-0-fatherfirstname' %}{{extra_context|dictValue:'form-0-fatherfirstname'}}{% else %}{{child.getFather.first_name}}{% endif %}" tabindex='1' size=8/>
					
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-fathermiddlename" id="id_form-0-fathermiddlename" value="{% if extra_context|dictValue:'form-0-fathermiddlename' %}{{extra_context|dictValue:'form-0-fathermiddlename'}}{% else %}{{child.getFather.middle_name}}{% endif %}" tabindex='1' size=8/>
					
				    </td>
				    <td align="center">
					<input type="text" name = "form-0-fatherlastname" id="id_form-0-fatherlastname" value="{% if extra_context|dictValue:'form-0-fatherlastname' %}{{extra_context|dictValue:'form-0-fatherlastname'}}{% else %}{{child.getFather.last_name}}{% endif %}" tabindex='1' size=8/>
					
				    </td>
				    <td align="center">
				    	<input type="hidden" name="counter" id="id_counter" value="{{extra_context|displayValue:'counter'}}"/>
				    	<span style="display:none">{{entryForm.id}}</span>
                                    	<input type="submit" name="save" id="id_save" value="Save" tabindex="1"/>
                                    </td>
				</tr>
				<tr>
				   <!-- Show error msgs if field id not valid -->
				   <td align="center">
                                    	{% for error in entryForm.first_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				    <td align="center">
                                    	{% for error in entryForm.middle_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				    
				    <td align="center">
                                    	{% for error in entryForm.last_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">
                                    	{% for error in entryForm.uid.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center">
                                    	{% for error in entryForm.dob.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">
                                    	{% for error in entryForm.gender.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">
                                    	{% for error in entryForm.mt.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center" colspan="5">
                                    	{% for error in entryForm.errors.fatherfirstname %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                    
                                    <td align="center">&nbsp;</td>
				</tr>
				
				
				
				{% endfor %}
                                
				</table>
				<script>
  $(document).ready(function(){
     setTimeout(function(){
		$('input:visible:enabled:first').focus();
	},200);

     var KLP_Hide_Msg = function(){
	$("#successMsgHead").hide();
        $("#failureMsgHead").hide();
}

   $("#id_save").click(function(){
        /* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
	KLP_Hide_Msg();
	parentVal = $("#id_boundary").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal,'id_boundary');
   });

   

var KLP_form_submit = function(parentVal, parentId){
    $("#id_save").attr("disabled", "true");
    modelName=$('#model').val();
    replaceId =  'student_'+$('#replace_id').val()
    /* post data using post method */
    $.post(  
        $("#id_StudUpdateUrl").val(),  
        $("#childForm").serialize(),  
        function(data){
        	$('#popData').html(data);
		NFInit();
		$("#id_save").removeAttr("disabled");
		var successStatus = $("#success_status").val();
		if (successStatus == 'True'){
			/* If Success update row */
			$('#'+replaceId, self.parent.parent.document).replaceWith(data);
			window.parent.parent.tb_init('#'+replaceId+' a.thickbox, area.thickbox, input.thickbox');
			window.parent.parent.$("#successMsgHead").show();
	   		window.parent.parent.$("#klp_MsgTxt").html("Student Updated Successfully");
	   		$("body").html("Student Updated Successfully");
        	} 
    	});  
}
});
</script>
        </form>
        </div>
