{% load template_tags %}
<div class="detailHead">
	<span class="hedText">{{extra_context|displayValue:'institutionType'}} Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="institutionForm" onsubmit="return false;">{% csrf_token %}
	{{form.management_form}}
	<input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
	<input type="hidden" id="url" value="/institution/{{institution.id}}/update/" />
	<input type="hidden" id="institution_id" value="{{institution.id}}" />
	<input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
        {% with form.forms|last as entryForm %}
        	<table class="tblprofile">
        		<tr>
        			<td><label class="KLP_required">Name:</label></td>
        			<td>
        				{% render_field entryForm.name 'tabindex=1' %}
        				<!-- Name Field -->
                	        </td>
                	        <td>
                	        	<!-- If Name field has errors show errors -->
                                	{% for error in entryForm.name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                	</tr>
                	<tr>
                		<td><label>Category:</label></td>
                		<td>	
					<select id="id_form-0-cat" name="form-0-cat" tabindex=2>
						{% for category in extra_context|displayValue:'categoryList' %}
							{% if extra_context|displayValue:'selCategoryTyp' == category.id or institution.cat.id == category.id %}
								<option value="{{category.id}}" selected="true">{{category.name}}</option>
							{% else %}
								<option value="{{category.id}}">{{category.name}}</option>
							{% endif %}
						{% endfor %}
					</select>
					<!-- Category Field -->
				</td>
				<td>
					<!-- If Category field has errors show errors -->
                                	{% for error in entryForm.cat.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
					
                        </tr>
                        <tr>
                        	<td><label class="KLP_required">{{extra_context|displayValue:'institutionType'}} Gender:</label></td>
                                <td>
                                	{% render_field entryForm.institution_gender 'tabindex=3' %}
                                	<!-- Instituion Gender Field -->
                                </td>
                                <td>
                                	<!-- If Instituion Gender field has errors show errors -->
                                	{% for error in entryForm.institution_gender.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        
                        <tr>
                        	<td><label>Dise Code:</label></td>
                                <td>
                                        {% render_field entryForm.dise_code 'tabindex=4' %}
                                        <!-- Dise Code Field -->
                                </td>
                                <td>
                                	<!-- If Dise Code field has errors show errors -->
                                	{% for error in entryForm.dise_code.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
                        	<td><label class="KLP_required">Language:</label></td>
                        	<td>
                        		{% render_field entryForm.languages 'tabindex=5' %}
                        		<!-- Language Field -->
                        	</td>
                        	<td>
                        		<!-- If Language field has errors show errors -->
                                	{% for error in entryForm.languages.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
                        	<td><label class="KLP_required">Management:</label></td>
                        	<td>
                        		{% render_field entryForm.mgmt 'tabindex=6' %}
                        		<!-- Management Field -->
                                </td>
                                <td>
                                	<!-- If Management field has errors show errors -->
                                	{% for error in entryForm.mgmt.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
                        	<td><label class="KLP_required">Address:</label></td>
                        	<td>
                        		<textarea name="form-0-address" id="id_form-0-address" rows="4" cols="20" tabindex=7>{{institution.inst_address.address}}</textarea>
                        		<!-- Address Field -->
                                </td>
                                <td>
                                	<!-- If address field has errors show errors -->
                                	{% for error in entryForm.address.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
                                    <td><label>Area:</label></td>
                                    <td>       	        			
                                        <textarea name="form-0-area" id="id_area" rows="4" cols="20" tabindex=8>{{institution.inst_address.area}}</textarea>
                                        <!-- Area Field -->
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                    	<!-- If area field has errors show errors -->
                                    	{% for error in entryForm.area.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                        </tr>
                        <tr>
				<td><label>Pincode:</label></td>
                                <td>
                                	<input type="text" name="form-0-pincode" id="id_pincode" size="15" value='{{institution.inst_address.pincode}}' tabindex=9 />
                                	 <!-- Pincode Field -->
                                </td>
                                <td>
                                	<!-- If pincode field has errors show errors -->
                                	{% for error in entryForm.pincode.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
                        	<td><label>Landmark:</label></td>
                        	<td>
                                        <textarea name="form-0-landmark" id="id_form-0-landmark" rows="4" cols="20" tabindex=10>{{institution.inst_address.landmark}}</textarea>
                                        <!-- Landmark Field -->
                                </td>
                                <td>
                                	<!-- If landmark field has errors show errors -->
                                	{% for error in entryForm.landmark.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
			<tr>
				<td><label>Identifications:</label></td>
                                <td>
                                	<input type="text" name="form-0-instidentification" id="id_instidentification" size="15" value='{{institution.inst_address.instidentification}}' tabindex=11 />
                                	<!-- Identification Field -->
                                </td>
                                <td>
                                	<!-- If Identification field has errors show errors -->
                                	{% for error in entryForm.instidentification.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr>
				<td><label>Route Information:</label></td>
                                <td>
                                	<input type="text" name="form-0-route_information" id="id_route_information" size="15" value='{{institution.inst_address.route_information}}' tabindex=12 />
                                	 <!-- Route Information Field -->
                                </td>
                                <td>
                                	<!-- If route_information field has errors show errors -->
                                	{% for error in entryForm.route_information.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                </td>
                        </tr>
                        <tr><td> &nbsp;</td></tr>
      			<tr><td> &nbsp;</td></tr>
      			<tr><td> &nbsp;</td></tr>
                        <tr>
                        	<td>
                        		<span style="display:none">
                        			<input type="hidden" name="form-0-boundary" id="id_form-0-boundary" size="15" value='{{institution.boundary.id}}'/>
                        			<input type="hidden" name="parentId" value="{{institution.boundary.id}}" id="parentId" />
                        			<input type="hidden" id="id_form-0-active" name="form-0-active" value="2">
                        			{{entryForm.id}}
                        		</span>	
                                        <input type="submit" name="save" id="id_save" value="Save" tabindex=10/>
                                </td>
                                <!--td>
                                    	<input type="submit" name="save_and_continue" id="id_save_and_continue" value="Save And Continue" tabindex=11/>
                                </td>
                                <td>
                    	    		<input type="submit" name="save_and_create" id="id_save_and_create" value="Save And Create Another" tabindex=12/>
      				</td-->
                        </tr>        
                </table>
        {%endwith%}             
</form>
<script>

$(document).ready(function(){  
  
   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-boundary").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal);
   	
   });
   
   $("#id_save_and_continue").click(function(){
   	/* Clicking on save and continue button hide all prv msgs and call form submit and pass button type is save and continue */
   	KLP_Hide_Msg();
   	$("#id_form-buttonType").val('save and continue');
   	parentVal = $("#id_form-0-boundary").val();
   	KLP_form_submit(parentVal);
   	
   });
   
   $("#id_save_and_create").click(function(){
   	/* Clicking on save and add another button hide all prv msgs and call form submit and pass button type is save and add another */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-boundary").val();
   	$("#id_form-buttonType").val('save and add another');
   	KLP_form_submit(parentVal, 'id_form-0-boundary');
   	
   	
   });
    
    
   var KLP_form_submit = function(parentVal, parentId){
   	/* post data using post method */
        /* capture new name to change values in node */
    	newName = $('#id_form-0-name').val();
   	$.post(
        	$('#url').val(),
        	$("#institutionForm").serialize(),
                function(data){
                    /* Get Response */
                    $("#dyncData").html(data);
                    NFInit();
                    $('input:visible:enabled:first').focus();
                    var successStatus = $("#success_status").val();
                    if (successStatus == 'True'){
                    	/* If It success show success msg and update node in tree */
                    	treeNode=$("#institution_{{institution.id}}").find("a:first");
                    	$(treeNode).attr("title", newName);
                    	$("#institution_{{institution.id}}_text").html(newName);
                    	KLP_BredaCrumb(treeNode);
                    	$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html("{{extra_context|displayValue:'institutionType'}} Updated Successfully")
                    
                    	if (parentId != null)
                    		$("#"+parentId).val(parentVal);
                    }
               }
           );
   } 
   
});
</script>


