{% load template_tags %}
{% if  extra_context|displayValue:'replaceTrue'%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/static_media/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static_media/js/niceforms.js"></script>
<script type="text/javascript" src="/static_media/js/thickbox.js" charset="utf-8"></script>


<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/thickbox.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/form.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static_media/css/style.css" />
</head>

<body>
<div id="container">

{% if entry == "Add" %}
<fieldset>
    <legend>{{legend}}</legend>
{% else %}
<div class="tablebg">
<div id="popData">
{% endif %}
{% endif %}

<div class="detailHead">
	<span class="hedText">Staff Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="staffForm" onsubmit="return false;">{% csrf_token %}
	{{form.management_form}}
	<input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
	<input type="hidden" id="replaceTrue" name="replaceTrue" size="15" value="{{extra_context|displayValue:'replaceTrue'}}" / >
	<input type="hidden" id="url" value="/staff/{{staff.id}}/update/" />
	<input type="hidden" id="staff_id" value="{{staff.id}}" />
	<input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
        {% with form.forms|last as entryForm %}
        	<table class="tblprofile">
        		<tr>
                                    <td><label class="KLP_required">First Name:</label></td>
                                    <td>
                                         {% render_field entryForm.first_name 'tabindex=1' %}
                                         <!-- Staff First Name Field -->
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                    	<!-- If First Name field has errors show errors -->
                                    	{% for error in entryForm.first_name.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
                                </tr>
                                <tr>
					<td><label>Middle Name:</label></td>
					<td>
                                        	{% render_field entryForm.middle_name 'tabindex=2' %}
                                        	<!-- Staff Middle Name Field -->
                                    	</td>
                                    	<td>&nbsp;</td>
                                    	<td>
                                    		<!-- If Middle Name field has errors show errors -->
                                    		{% for error in entryForm.middle_name.errors %}
	                                		<span class="editErr">{{ error }}</span>
	                                	{% endfor %}
                                    	</td>
					
					
                                </tr>
                                <tr>
					<td><label>Last Name:</label></td>
					<td>
                                        	{% render_field entryForm.last_name 'tabindex=3' %}
                                        	<!-- Staff Last Name Field -->
                                    	</td>
                                    	<td>&nbsp;</td>
                                    	<td>
                                    		<!-- If Last Name field has errors show errors -->
                                    		{% for error in entryForm.last_name.errors %}
	                                		<span class="editErr">{{ error }}</span>
	                                	{% endfor %}
                                    	</td>
					
					
                                </tr>
                                <tr>
					<td><label>UID:</label></td>
					<td>
                                        	{% render_field entryForm.uid 'tabindex=4' %}
                                        	<!-- Staff UID Field -->
                                    	</td>
                                    	<td>&nbsp;</td>
                                    	<td>
                                    		<!-- If UID field has errors show errors -->
                                    		{% for error in entryForm.middle_name.errors %}
	                                		<span class="editErr">{{ error }}</span>
	                                	{% endfor %}
                                    	</td>
					
					
                                </tr>
                                <tr>
				    <td><label for="address">Date of Joining:</label></td>
				    <td>
					{% render_field entryForm.doj 'tabindex=5' %}
					<!-- Staff DOJ Field -->
				    </td>
				</tr>
				<tr>
				    <td><label class="KLP_required">Gender:</label></td>
				    <td>
					{% render_field entryForm.gender 'tabindex=6' %}
					<!-- Staff Gender Field -->
				    </td>
				    <td>
				    	<!-- If gender field has errors show errors -->
                                    	{% for error in entryForm.gender.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				</tr>
                                <tr>
				    <td><label class="KLP_required">Mother Tongue:</label></td>
				    <td>
					{% render_field entryForm.mt 'tabindex=7' %}
					<!-- Staff Mother Tongue  Field -->
				    </td>
				    <td>
				    	<!-- If Mother Tongue field has errors show errors -->
                                    	{% for error in entryForm.mt.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				</tr>
				<tr>
				    <td><label>Qualification:</label></td>
				    <td>
					{% render_field entryForm.qualification 'tabindex=8' %}
					<!-- Staff Qualification  Field -->
				    </td>
				    <td>
				    	<!-- If qualification field has errors show errors -->
                                    	{% for error in entryForm.qualification.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				</tr>				
                                <tr>
				    <td><label class="KLP_required">Staff Type:</label></td>
				    <td>
				    	<!-- Staff type  Field -->
					<select name="form-0-staff_type" id="id_form-0-staff_type" tabindex=9>						
						{% for staff_type in extra_context|displayValue:'Staff_Types' %}
							<option value="{{staff_type.id}}" {%if staff.staff_type == staff_type %}selected="selected"{% endif %}>{{staff_type.staff_type}}</option>
						{% endfor %}
					</select>
					<input type="hidden" name="form-0-active" id="id_form-0-active" value="2" />
				    </td>
				    <td>
				    	<!-- If staff type field has errors show errors -->
                                    	{% for error in entryForm.staff_type.errors %}
	                                	<span class="editErr">{{ error }}</span>
	                                {% endfor %}
                                    </td>
				</tr>
				<tr style="{% if extra_context|displayValue:'schoolType' == 'Anganwadi'%}display:none;{% endif %}">
				    <td><label>Classes: </label></td>
				    <td>
				    	<!-- Staff classes  Field -->
					<select name="form-0-student_group" id="id_form-0-student_group" multiple="multiple" tabindex=10>
						{% for studGrup in extra_context|displayValue:'stgrps' %}
							
							<option value="{{studGrup.id}}" {% if studGrup in staff.getAssigendClasses %}selected="selected"{% endif %}>{{studGrup.name}}{% if studGrup.section != None %}{{studGrup.section}}{% endif %}</option>	
						{% endfor %}
					</select>
				    </td>
				    
				</tr>
		                <tr><td> &nbsp;</td></tr>
	      			<tr><td> &nbsp;</td></tr>
	      			<tr><td> &nbsp;</td></tr>
		                <tr>
                        	<td>
                        		<span style="display:none">
                        			<input type="hidden" id="id_form-0-active" name="form-0-active" value="2">
                        			{{entryForm.id}}
                        			<input type="hidden" id="id_form-0-institution" name="form-0-institution" value="{{staff.institution.id}}" />
                        		</span>
                                             	
                                        <input type="submit" name="save" id="id_save" value="Save" tabindex=11/>
                                               

                                </td>
                                   {% if not extra_context|displayValue:'replaceTrue'%}
                                <!--td>
                                        <input type="submit" name="save_and_continue" id="id_save_and_continue" value="Save And Continue" tabindex=11/>
                                    </td-->
                                    <td colspan="2">
                                        <input type="submit" name="save_and_create" id="id_save_and_create" value="Save And Create Another" tabindex=12/>
                                    </td>

                               {% endif %} 
                        </tr>        
                </table>
        {%endwith%}             
</form>
<script>

$(document).ready(function(){  
  
   $("#id_save").click(function(){
   	window.parent.$("#successMsgHead").hide();
        window.parent.$("#failureMsgHead").hide();
   	$("#id_form-buttonType").val('save');
   	$("#id_save").attr("disabled", "true");
   	KLP_form_submit();
   	
   });
   
  $("#id_save_and_continue").click(function(){
        KLP_Hide_Msg();
        parentVal = $('#institution_id').val();
        $("#id_form-buttonType").val('save and continue');
        KLP_form_submit(parentVal);
   });
   
   $("#id_save_and_create").click(function(){
        KLP_Hide_Msg();
        parentVal = $('#institution_id').val();
        $("#id_form-buttonType").val('save and add another');
        KLP_form_submit(parentVal, 'institution_id');
        
        
   });
    
   var KLP_form_submit = function(){
    	newName = $('#id_form-0-name').val();
    	replaceId =  'staff_{{staff.id}}';
      buttonType=$("#id_form-buttonType").val();
    popup=$('#replaceTrue').val();
   	$.post(
        	$('#url').val(),
        	$("#staffForm").serialize(),
                function(data){	
                    $("#popData").html(data);
                    $("#id_save").removeAttr("disabled");
                    //NFInit();
                    $('input:visible:enabled:first').focus();
                    var successStatus = $("#success_status").val();
                    if (successStatus == 'True' && popup=='True'){
                    	$('#'+replaceId, self.parent.document).replaceWith(data);
                    	window.parent.tb_init('#'+replaceId+' a.thickbox, area.thickbox, input.thickbox');
                    	window.parent.$("#successMsgHead").show();
   		    	window.parent.$("#klp_MsgTxt").html("Staff Updated Successfully")
                    	window.parent.tb_remove();
                    	
                    }
                           if( buttonType=='save and add another'){
                                            $('#dyncData').html(data);
                                      NFInit();

                                    }
               }
           );
   } 
   
});
</script>
</fieldset>
</div>
</div>
</body>
</html>

