{% load template_tags %}
<tr id="staff_{{staff.id}}">
<td  class="tot-border1">{{staff.first_name}} {{staff.middle_name}} {{staff.last_name}}<input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / ></td>
<td  class="tot-border1">{{staff.doj|date:"d-m-Y"}}</td>
<td  class="tot-border1">{{staff.gender}}</td>
<td  class="tot-border1">{{staff.mt}}</td>
<td  class="tot-border1">
	{% for qualification in staff.qualification.all %}
		{{qualification}}
		{% if not forloop.last %}, {% endif %}
	{% endfor %}
</td>
<td  class="tot-border1">{{staff.staff_type}}</td>
<td  class="tot-border1">
	{% for assignedGrup in staff.getAssigendClasses%}
		{% if assignedGrup.name == '0' %}Anganwadi Class{% else %}{{assignedGrup.name}}{{assignedGrup.section}}{% endif %}
		{% if not forloop.last %}, {% endif %}
	{% endfor %}
</td>
<td  class="tot-border1">
	<a href="/staff/{{staff.id}}/update/?keepThis=True&TB_iframe=True&height=400&width=800" title="Edit Staff" class="thickbox">
		<img title="Edit" src="/static_media/images/pagebuilder_edit.gif">
	</a>
</td>
<td  class="tot-border2">
	<span onclick="KLP_Del('{{staff.id}}', 'staff', '{{staff.first_name}} {{staff.last_name}}')" style="color: blue; cursor: pointer;">
		<img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif">
	</span>
</td>
</tr>
