{% load template_tags %}
<div class="detailHead">
    <span class="hedText">Assessment Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="assessmentForm" name="assessmentForm" onsubmit="return false;">{% csrf_token %}
	<input type="hidden" name="url" value="/programme/assessment/{{extra_context|displayValue:'referKey'}}/creator/" id="url" />
        <input type="hidden" name="form-buttonType" id="id_form-buttonType" value="save" />
        <input type="hidden" name="form-0-query" id="id_form-0-query"/>
     <!--input type="hidden" name="form-0-typ" id="id_form-0-typ" value="3"/-->
        <input type="hidden" id="assessment_id" size="15" value="{{extra_context|displayValue:'prevousId'}}" / >
        <input type="hidden" id="success_status" size="15" value="{{extra_context|displayValue:'showsuccess'}}" / >
        {{form.management_form}}
        {% with form.forms|last as entryForm %}
		<table>
        		<tr>
      	    			<td>
      		    			<table class="tblprofile">      			          				  				
      						<tr>
      							<td class="rightprofile"><label class="KLP_required">Name</label></td>
      							<td class="leftprofile">
                            					{% render_field entryForm.name 'tabindex=1' %}
                            					<!-- Assessment Name Field -->
                            					<input type="hidden" name="form-0-programme" id="id_form-0-programme" value="{{extra_context|displayValue:'referKey'}}" />  <!-- Programme  Id for foreign key -->
                            					<input type="hidden" name="duplKey" id="id_duplKey" size="15" value="{{duplKey}}" />    
                        				</td>
                        				<td>
                        					<!-- If Name field has errors show errors -->
                                    				{% for error in entryForm.name.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
      						</tr>
      						<tr>
      				    			<td class="rightprofile"><label class="KLP_required">Start Date</label></td>
      							<td class="leftprofile">
                            					{% render_field entryForm.start_date 'tabindex=2' %}
                            					<!-- Start Date Field -->
                        				</td>
                        				<td>
                        					<!-- If Start Date field has errors show errors -->
                                    				{% for error in entryForm.start_date.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
      						</tr>
      						<tr>
      				    			<td class="rightprofile"><label class="KLP_required">End Date</label></td>
      							<td class="leftprofile">
                            					{% render_field entryForm.end_date 'tabindex=3' %}
                            					<!-- End Date Field -->
                        				</td>
                        				<td>
                        					<!-- If End Date field has errors show errors -->
                                    				{% for error in entryForm.end_date.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
                        				<script>
                        					/* To Show Calendar on focus on date fields */
                        					$( "#id_form-0-start_date" ).datepick({dateFormat: 'dd-mm-yyyy'});
		                        			$( "#id_form-0-end_date" ).datepick({defaultDate: new Date("{{extra_context|displayValue:'end_date'}} {{extra_context|displayValue:'endMonth'}} {{extra_context|displayValue:'endYear'}}"), dateFormat: 'dd-mm-yyyy'});
	                    				</script>
      						</tr>
							  <tr >
                                                     <td class="rightprofile"><label class="KLP_required">Assessment Type</label></td>

                                                        <td class="leftprofile">
                                                                {% render_field entryForm.typ 'tabindex=4' %}
                                                        </td>
                                                </tr>
							  <tr >
                                                        <td class="rightprofile"><label class="KLP_required">Double Entry</label></td>

                                                        <td class="leftprofile"><br/>
                                                               &nbsp;&nbsp; {% render_field entryForm.double_entry 'tabindex=5'%}
                                                        </td>
                            </tr>
<tr>
      				    			<td class="rightprofile"><label >Flexi Assessment</label></td>
      							<td class="leftprofile"><br/>
                            					&nbsp;&nbsp;{% render_field entryForm.flexi_assessment 'tabindex=6' %}
                            					<!-- Start flexi Field -->
                        				</td>
                        				<td>
                        					<!-- If Flexi field has errors show errors -->
                                    				{% for error in entryForm.flexi_assessment.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
      						</tr>
                              <tr {% if  not entryForm.flexi_assessment.value or entryForm.flexi_assessment.value == "" %}style="display:none" {% endif %} class="flexifield">
      				    			<td class="rightprofile"><label class="KLP_required">Primary Field Name</label></td>
      							<td class="leftprofile">
                            					{% render_field entryForm.primary_field_name 'tabindex=7' %}
                            					<!-- Primary Field Name Field -->
                        				</td>
                        				<td>
                        					<!-- If Primary Field Name field has errors show errors -->
                                    				{% for error in entryForm.primary_field_name.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
      						</tr>
                                                  <tr  {% if not entryForm.flexi_assessment.value or entryForm.flexi_assessment.value == "" %}style="display:none" {% endif %} class="flexifield">
      				    			<td class="rightprofile"><label class="KLP_required">Primary Field Type</label></td>
      							<td class="leftprofile">
                            					{% render_field entryForm.primary_field_type 'tabindex=8' %}
                            					<!-- Primary Field Name Field -->
                        				</td>
                        				<td>
                        					<!-- If Primary Field Name has errors show errors -->
                                    				{% for error in entryForm.primary_field_type.errors %}
	                                				<span class="editErr">{{ error }}</span>
	                                			{% endfor %}
                                    			</td> 
      						</tr>     						      						      										
      						<tr>      				    
      			        			
                                                        <td class="leftprofile">
      			            				<input type="hidden" name="form-0-active" id="id_form-0-active" value="2"/>
      			        			</td>
      			    			</tr>
                                              
                                                  
                    				<tr><td> &nbsp;</td></tr>
                    				<tr><td> &nbsp;</td></tr>
      			    			<tr>
                                    			<td>
                                    				<input type="submit" name="save" id="id_save" value="Save" tabindex=4 />
                                    			</td>
                                    			<td>
                                    				<input type="submit" name="save_and_continue" id="id_save_and_continue" value="Save And Continue" tabindex=5 />
                                    			</td>
                                    			<td>
                    	    					<input type="submit" name="save_and_create" id="id_save_and_create" value="Save And Create Another" tabindex=6 />
      				    			</td>
                                		</tr> 
      					</table>
      				</td>
      			</tr>
    		</table>
    {% endwith %}
</form>
<script>
  $(document).ready(function(){ 
   
	
    $("#id_form-0-flexi_assessment").click(function(){
	
	 $('.flexifield').toggle();
	});
   $("#id_save").click(function(){
   	/* Clicking on save button hide all prv msgs and call form submit and pass button type is save */
   	KLP_Hide_Msg();
	if( $("#id_form-0-flexi_assessment:checked").length==1 && $("#id_form-0-typ").val()==3){
	 alert("Flexi Assessment is not allowed for Student");
	 return;
	}
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save');
   	KLP_form_submit(parentVal);
   	
   });
   
   $("#id_save_and_continue").click(function(){
   	/* Clicking on save and continue button hide all prv msgs and call form submit and pass button type is save and continue */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save and continue');
   	KLP_form_submit(parentVal);
   });
   
   $("#id_save_and_create").click(function(){
   	/* Clicking on save and add another button hide all prv msgs and call form submit and pass button type is save and add another */
   	KLP_Hide_Msg();
   	parentVal = $("#id_form-0-programme").val();
   	$("#id_form-buttonType").val('save and add another');
   	KLP_form_submit(parentVal, 'id_form-0-programme');
   	
   	
   });
    
    
   var KLP_form_submit = function(parentVal, parentId){
        /* post data using post method */
   	$.post(
        	$('#url').val(),
        	$("#assessmentForm").serialize(),
                function(data){
                    /* Get Response */
                    $("#dyncData").html(data);
                    NFInit();
                    $('input:visible:enabled:first').focus();
                    var successStatus = $("#success_status").val();
                    if (successStatus == 'True'){
                        /* If It success show success msg and create new node in tree */
                    	$("#successMsgHead").show();
   		    	$("#klp_MsgTxt").html("Assessment Created Successfully")
                    	if (parentId != null)
                    		$("#"+parentId).val(parentVal);	
                    	ObjId='#programme_'+parentVal
            	    	Obj=$(ObjId)                          
                    	KLP_Create_Node(Obj,'assessment');
                    }	
               }
           );
   }
   
}); 
</script>
