<div class="detailHead">
<span class="hedText">AssessmentDetail Details</span>
</div>

<div class="boundDetail">
    <label>Programme Name</label>
    <span>{{assessmentDetail.assessment.programme}}</span>	
</div>

<div class="boundDetail">
    <label>Assessment Name</label>
    <span>{{assessmentDetail.assessment}}</span>	
</div>
<div class="boundDetail">    
    <label>Question</label>
    <span>{{assessmentDetail.question}}</span>
    <input type="hidden" name="id" id="assessmentdetail_id" size="15" value="{{assessmentDetail.id}}" / >
</div>
<div class="boundDetail">
    <label>Score Min</label>
    <span>{{assessmentDetail.scoreMin}}</span>
</div>

<div class="boundDetail">    
    <label>Score Max</label>
    <span>{{assessmentDetail.scoreMax}}</span>
</div>

<div class="boundDetail">    
    <label>Double Entry</label>
    <span>{{assessmentDetail.doubleEntry}}</span>
</div>

<div class="boundDetail">    
    <label>Required</label>
    <span>{{assessmentDetail.required}}</span>
</div>
