<div class="detailHead">
    <span class="hedText">AssessmentDetail Entry Form</span>
</div>

<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="asdForm" name="asdForm" onsubmit="return false;">{% csrf_token %}    
    <table>
        <tr>
      	    <td>
      		    <table class="tblprofile">   
      		        <!--tr>
      		            <td class="rightprofile">Name</td>
      		            <td class="rightprofile">
      		                {{form.name}}
      		            </td>
      		        </tr-->   			        				
      				<tr>
      				    <td class="rightprofile">Question</td>
      					<td class="leftprofile">
                            <input type="text" id="question" value="" size="20"/>
                            <input type="hidden" name="question" id="id_question" size="15" value="" />
                            <input type="hidden" name="assessment" id="id_assessment" size="15" value="{{referKey}}" />
                            
                        </td>
                        <td>
                            <!--span class="gallery clearfix" id="selectQuestion">
                                <a href="/question/search/?iframe{{referKey}}=true&amp;width=500&amp;height=300" rel="prettyPhoto[iframe{{referKey}}]" oncontextmenu="return false"> <img src="/static_media/images/question_select.gif" title="Select Question"/> </a>
                            </span-->
                            <a href="/question/search/?keepThis=true&TB_iframe=true&height=250&width=400" title="Select Question" class="thickbox"><img src="/static_media/images/question_select.gif" title="Select Question"/> </a>  
                        </td>
      				</tr>   
      				<tr>
      				    <td class="rightprofile">Score Min</td>
      					<td class="leftprofile">
                            {{form.scoreMin}}
                        </td>
      				</tr>    
      				<tr>
      				    <td class="rightprofile">Score Max</td>
      					<td class="leftprofile">
                            {{form.scoreMax}}
                        </td>
      				</tr> 
      				<tr><td> &nbsp;</td></tr>
      				<tr>
      				    <td class="rightprofile">Double Entry</td>
      					<td class="leftprofile">
                            {{form.doubleEntry}}
                        </td>
      				</tr> 
      				<tr><td> &nbsp;</td></tr>
      				<tr>
      				    <td class="rightprofile">Required</td>
      					<td class="leftprofile">
                            {{form.required}}
                        </td>
      				</tr>    				
      			    <tr>
      				    <td class="rightprofile">
      				        {{form.active}}
                    	    <input type="submit" value="Submit" />
      				    </td>
      				</tr>
      			</table>
      		</td>
      	</tr>
    </table>
</form>
<!--script>
 (function($) { $(function() {
 $(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook', });
  //autoCompleteCall('/get-info/','question','false','1','0')

});})(jQuery);
</script-->
<script>
  $(document).ready(function(){     
   $("#asdForm").submit(function(){
   parentId=$('#id_assessment').val();    
    $.post(  
        '/assessmentdetail/{{referKey}}/creator/',  
        $("#asdForm").serialize(),  
                function(data){                                                                             
                    $("#dyncData").html(data); 	
                    ObjId='#assessment_'+parentId
                    Obj=$(ObjId)   
                    call_js(Obj,'assessmentdetail'); 		
               }  
           );  
       });  
}); 
 

</script>

