<div class="detailHead">
<span class="hedText">Boundary Details</span>
</div>

<div class="boundDetail">
    <label>Parent Boundary</label>
    <span>{{boundary.parent}}</span>
	<input type="hidden" name="id" id="boundary_id" size="15" value="{{boundary.id}}" / >
</div>
<div class="boundDetail">    
    <label>Boundary Name</label>
    <span>{{boundary.name}}</span>
</div>
<div class="boundDetail">
    <label>Boundary Type</label>
    <span>{{boundary.boundary_type}}</span>
</div>
<div class="boundDetail">    
    <label>Geo Code</label>
    <span>{{boundary.geo_code}}</span>
</div>
<!--div class="boundDetail"> 
    <span class=" gallery clearfix">   
        <a href="/boundary/{{boundary.id}}/schools/creator/" onclick="return schoolView(this)">
            Add School
        </a> 
    </span>
</div-->  
   

