
			<td>{{childObj.firstName}}</td>
			<td>{{childObj.lastName}}</td>
			<td>{{childObj.dob}}</td>
			<td>{{childObj.gender}}</td>
			<td>{{childObj.mt}}</td>
			<td>{{studentObj.academic}}</td>
			<td></td>
			<td><a href="/boundary/{{childObj.boundary.id}}/schools/{{studentObj.id}}/classes/{{class_id}}/sections/{{section_id}}/students/{{studentObj.id}}/edit/?keepThis=True&TB_iframe=True&height=400&width=400" title="Edit Student" class="thickbox"> <img title="Edit" src="/static_media/images/pagebuilder_edit.gif"></a><span class="delConf" onclick="deleteSchool({{studentObj.id}}, 'student')"><img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif" title="Delete"></span></td>

