<div class="detailHead">
<span class="hedText">Class Details</span>
</div>
<div class="boundDetail">
    <label>Boundary Name</label>
    <span>{{classObj.sid.boundary}}</span><input type="hidden" name="id" id="class_id" size="15" value="{{classObj.id}}" / >
</div>
<div class="boundDetail">
    <label>School Name</label>
    <span>{{classObj.sid}}</span>
</div>
<div class="boundDetail">    
    <label>Class Name</label>
    <span>{{classObj.name}}</span>
</div>                    
<!--div class="boundDetail"> 
    <span class=" gallery clearfix">            
        <a href="/classes/{{classObj.id}}/section/creator/" onclick="return schoolView(this)">Add Section</a>
    </span>
</div-->    
           

