<div class="detailHead">
<span class="hedText">Class Entry Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="classForm" name="classForm" onsubmit="return false;">{% csrf_token %}
			    <input type="hidden" name="url" value="/schools/{{referKey}}/class/creator" id="url" />                
      			<table class="tblprofile">
      			    <input type="hidden" name="sid" id="id_school" value = '{{referKey}}' / >      				
      				<tr>
      					<td class="rightprofile">Class</td>
      					<td class="leftprofile">{{form.name}}{{form.active}}
      					{% for error in form.name.errors %}
              	<span style="color:red">{{ error }}</span>
              {% endfor %}</div></td>
      				</tr>
      				<tr>
      					<td class="rightprofile">Section</td>
      					<td class="leftprofile">
					<select size="10" name="section" id="id_section" multiple="multiple">
					{% for sections in sectionnames %}
						<option value="{{sections}}">{{sections}}</option>
					{% endfor %}
					</select>
					</td>
      				</tr>
      				
      				<tr>
      					<td class="rightprofile">
      					{{form.active}}
						<input type="submit" value="Add Class" />
      					</td>
      				</tr>
      			</table>      		
</form>
<script>
  $(document).ready(function(){     
   $("#classForm").submit(function(){
   parentId=$('#id_school').val();
    $.post(  
        $('#url').val(),  
        $("#classForm").serialize(),  
                function(data){                                                                              
                    $("#dyncData").html(data); 
			ObjId='#school_'+parentId
            		Obj=$(ObjId)                          
                    	call_js(Obj,'class');
               }  
           );  
       });  
});  
</script>
