<div class="detailHead">
<span class="hedText">Programme Details</span>
</div>

<div class="boundDetail">
    <label>Programme Name</label>
    <span>{{programme}}</span>	
    <input type="hidden" name="id" id="programme_id" size="15" value="{{programme.id}}" / >
</div>
<div class="boundDetail">
    <label>Description</label>
    <span>{{programme.description}}</span>	
</div>
<div class="boundDetail">    
    <label>Start Date</label>
    <span>{{programme.startDate}}</span>
</div>
<div class="boundDetail">
    <label>End Date</label>
    <span>{{programme.endDate}}</span>
</div>


 



