{% extends "index.html" %}
{% block leftpart%}{% endblock %}
{% block midpart %} 
<div class="detailHead">
    <form method='GET' action='.' id="searchForm"  class="niceform">{% csrf_token %}            
	
	<input type="text" name="searchtext" id='id_searchtext' value='{{searchtext}}' />
	<input type="submit" name='search' value='Search'/>
    </form>

</div>

<div class="qSearch"> 
    {% if questions_list %}
    <form name="selectionForm" id="selectionForm" class="niceform" onsubmit="return false">
        <div style="padding:15px 0px;">
        {% for question in questions_list %}
            <div style="float:left;width:100%;">
                <span style="padding:5px;"><input type="radio" name="questionId" value="{{question.id}}"/></span><spanstyle="padding:5px;">{{question}}</span>
                <input type="hidden" name="selQuestion" id="selQuestion_{{question.id}}" value="{{question}}"/>
            </div>
        {% endfor %}
        </div>
        <div style="padding:5px;">
            {% if has_previous %}
                <!--span id="page_{{previous}}" style="cursor:pointer;padding-right:15px;" onclick="Pagination(this)">Previous</span-->
                <a href="/question/search/?page={{previous}}">Previous</a>
            {% endif %}
            <span>page {{page}} of {{pages}}</span>
            {% if has_next %}
                <!--span id="page_{{next}}" style="cursor:pointer;padding-left:15px;" onclick="Pagination(this)">Next</span-->
                <a href="/question/search/?page={{next}}">Next</a>
            {% endif %}
        </div>
        <div style="padding:5px;">
        <input type="submit" name='select' value='Submit'/>
        </div>
    </form>
    
<script>
  $(document).ready(function(){  
   $("#selectionForm").submit(function(){            
      self.parent.tb_remove();
      qId = jQuery('#selectionForm input:radio:checked').val();
      qName = $("#selQuestion_"+qId).val();
      $('#question', window.parent.document).val(qName);
      $('#id_question', window.parent.document).val(qId);
      
   });  
});  

   
</script>
{% endif %}
</div>
{% endblock %}
