    <form action="." method="POST" enctype="multipart/form-data" class="niceform" name="catForm" id="catForm" onsubmit="return false;">{% csrf_token %}
        <table>
            <tr>
      		    <td>
      		        <table>
      		            <tr>
      		                <td class="rightprofile">School Category</td>
      		                <td class="leftprofile">
      		                    {{form.name}}
      		                    {% for error in form.name.errors %}
      		                        <span style="color:red">{{ error }}</span>
      		                    {% endfor %}
      		                </td>
      		            </tr>
      		            <tr>
      					    <td class="rightprofile">
                    		    <input type="submit" value="Add School Category" />
      				        </td>
      				    </tr>
      		        </table>
      		    </td>
      		</tr>
        </table>
    </form>
<script>
  $(document).ready(function(){     
   $("#catForm").submit(function(){       
   var formInputs = $("form#catForm :input");
   formInputs.each(function(index) {
         if ($(this).attr("id") =="id_name")
            newlyAdded = $(this).val();
    });   
    $.post(  
        '/school-category/creator/',  
        $("#catForm").serialize(),  
                function(data){                                                                                                      
                    $("#id_cat").append("<option value="+data+">"+newlyAdded+"</option>");
                    $("#subForm").html(''); 
               }  
           );  
       });  
});  
</script> 
