<div class="detailHead">
<span class="hedText">School Details</span>
</div>
<div class="boundDetail">
    <label>Boundary Name</label>
    <span>{{school.boundary}}</span><input type="hidden" name="id" id="school_id" size="15" value="{{school.id}}" / >
</div>

<div class="boundDetail">    
    <label>School Name</label>
    <span>{{school.name}}</span>
</div>
<div class="boundDetail">    
    <label>Category</label>
    <span>{{school.cat}}</span>
</div>
<div class="boundDetail">    
    <label>School Type</label>
    <span>{{school.school_type}}</span>
</div>

<div class="boundDetail">
    <label>Dise Code</label>
    <span>{{school.dise_code}}</span>
</div>

<div class="boundDetail">    
    <label>Languages</label>
    <span>
        {% for lang in school.languages.all %}
            {{lang.name}}
        {% endfor %}
    </span>
</div>
<div class="boundDetail">    
    <label>Management</label>
    <span>{{school.mgmt}}</span>
</div>
<div class="boundDetail">    
    <label>Address</label>
    <span>{{school.address}}</span>
</div>

<div class="boundDetail">    
    <label>Landmark</label>
    <span>{{school.landmark}}</span>
</div>

<div class="boundDetail">    
    <label>Pincode</label>
    <span>{{school.pincode}}</span>
</div>
<!--div class="boundDetail"> 
    <span class=" gallery clearfix">   
        <a href="/schools/{{school.id}}/class/creator/" onclick="return schoolView(this)">
            Add Class
        </a> 
    </span>
</div-->                                  

