<div class="detailHead">
<span class="hedText">Section Entry Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" name="secForm" id="secForm" onsubmit="return false;">{% csrf_token %}
      		        <table>
      				<input type="hidden" name="classname" id="id_classname" value = '{{referKey}}' / >
      				<input type="hidden" name="url" id="url" value = "/classes/{{referKey}}/section/creator/" / >
      		            <tr>
      					<td class="rightprofile">Section</td>
      					<td class="leftprofile">
					{{form.active}}
					<select size="8" name="section" id="id_section" multiple="multiple">
					{% for section in sectionnames %}
						{% if section not in sections %}
							<option value="{{section}}">{{section}}</option>
						{% endif %}
					{% endfor %}
					</select>
					</td>
      				</tr>
      				
      		            <tr>
      				<td class="rightprofile">
                    		    <input type="submit" value="Add Section" />
      				        </td>
      			</tr>
      		        </table>
    </form>
<script>
  $(document).ready(function(){     
   $("#secForm").submit(function(){
   parentId=$('#id_classname').val();
    $.post(  
        $('#url').val(),  
        $("#secForm").serialize(),  
                function(data){                                                                              
                    $("#dyncData").html(data); 
			ObjId='#class_'+parentId
            		Obj=$(ObjId)                          
                    	call_js(Obj,'sections');
               }  
           );  
       });  
});  
</script>
