{% extends "index.html" %}	
{% load i18n %}
{{% block leftpart%}{% endblock %}
{% block midpart %}
	<form action="" method="post">{% csrf_token %}
	    <table align="center" width="500">
	        <tr>
    	        <td colspan="3" bgcolor="#336699" align="Center"><span class="pwdHead">User List</span> </td>    	        
    	    </tr>
    	    <tr>
                    <td align="Center" colspan="3">&nbsp;</td>
            </tr>
            {% if user_list %}
                {% for indvUser in user_list %}
                    {% ifequal user indvUser %}
                    
                    {% else %}
                        {% if indvUser.is_active %}
                            <tr>
                                <td>{{indvUser}}</td>
                                <td><a href="/user/{{indvUser.id}}/delete"> Delete </a></td>
                                <td><a href="/user/{{indvUser.id}}/permissions"> Show Permissions </a></td>
                            </tr>
                        {% endif %}
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            <tr>
                    <td align="Center" colspan="3">&nbsp;</td>
            </tr>
            <tr>
            	<td>
    	       		<a href="{% if user.is_superuser %}/home/ {% else %}/home/?respType=userpermissions {% endif %}"> << Click Here</a> to go Back
    	       	</td>
            </tr>
	    </table>	    
	</form>
{% endblock %}

