<div class="detailHead">
<span class="hedText">Student Details</span>
</div>
<div class="boundDetail">
    <label>Boundary Name</label>
    <span>{{studentObj.class_section.classname.sid.boundary}}</span><input type="hidden" name="id" id="student_id" size="15" value="{{studentObj.id}}" / >
</div>
<div class="boundDetail">    
    <label>School Name</label>
    <span>{{studentObj.class_section.classname.sid}}</span>
</div>
<div class="boundDetail">    
    <label>Class Name</label>
    <span>{{studentObj.class_section.classname}}</span>
</div>
<div class="boundDetail">    
    <label>Section Name</label>
    <span>{{studentObj.class_section}}</span>
</div>
<div class="boundDetail">    
    <label>Student Name</label>
    <span>{{studentObj.name}}</span>
</div>

