<div  id="searchRes">
{% if count != '0' %}
<div id="insertStudent" style="font-size: 16px; font-weight: bold; background-color: green;">
	{{count}} Students Mapped 
</div>
{% endif %}

<div class="KLP_Button_Header">
	<span class="KLP_Sub">
		<a class="KLP_Button" href="/studentgroup/{{studentgroup.id}}/update/" onclick="return KLP_View(this);">Edit</a>
	</span>
	<span class="KLP_Sub">
		<span class="KLP_SpanButton" onclick="KLP_Del('{{studentgroup.id}}', 'studentgroup', '{{studentgroup.name}}')">Delete</span>
	</span>
	<span class="KLP_Sub">
		<a class="KLP_Button thickbox" href="/studentgroup/{{studentgroup.id}}/student/creator/?keepThis=true&TB_iframe=true&height=400&width=800" title="Add Student">Add Student</a>
	</span>
</div>

<!--div class="detailHead">
<span class="hedText">Student Group Details</span>
</div>
<input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / >
<table style="width:100%;text-align:center;margin-bottom:30px;">
<input type="hidden" id="studentgroup_id" value="{{studentgroup.id}}" / >
    {% ifequal studentgroup.content_type.model "school" %}
    <tr>
	<th>Boundary</th> <th>School</th> <th> Student Group</th>
    </tr>
    <tr>
	<td>{{studgrpParent.boundary}}</td> <td>{{studgrpParent.name}}</td> <td>{{studentgroup.name}} {% if studentgroup.section %}{{studentgroup.section}} {% endif %}</td>
    </tr>
    {% else %}
    <tr>
	<th>Boundary</th> <th> Student Group</th>
    </tr>
    <tr>
	<td>{{studgrpParent.name}}</td> <td>{{studentgroup.name}} {% if studentgroup.section %}{{studentgroup.section}} {% endif %}</td>
    </tr>
    {% endifequal %}
</table-->


<div class="detailHead">
<span class="hedText">Student Details</span>
<span id ="list_url" style="display:none;" value = "{{url}}"></span>
</div>

<form action="." method="POST" name="mapstudents" id="mapstudents">{% csrf_token %}
<table id="id_StudentDetail" style="width:100%;overflow:hidden;text-align:center;{% if not students_list %}display:none;{% endif %}">
   <tbody>
    <tr>
	<th>First Name</th> <th>Last Name</th> <th> DOB</th> <th>Gender</th> <th>Mother Tongue</th><th>Relations</th> <th>Map Students to Groups</th> <th>Edit</th>
    </tr>
    {% for student in students_list %}
    <tr id = "student_{{student.student.id}}">
	<td>{{student.student.child.firstName}}</td> <td>{{student.student.child.lastName}}</td> <td>{{student.student.child.dob|date:"d M Y" }}</td> <td>{{student.student.child.mt}}</td><td>{{student.student.child.gender}}</td> 
<td>{% for relation in student.student.child.getRelations %}{{relation.relation_type}}:{{relation.first_name}}<br />{% endfor %}</td> 
<td><input type="checkbox" value = "{{student.student.id}}" name="students"/></td>

	<td>
		<a href="/student/{{student.student.child.id}}/update/?keepThis=true&TB_iframe=true&height=400&width=800" title="Edit Student" title="Edit Student" class="thickbox"><img title="Edit" src="/static_media/images/pagebuilder_edit.gif"></a>

		<span style="color:blue;cursor:pointer"  onclick="KLP_Del('{{student.student.id}}', 'student', '{{student.student.child.firstName}}')"><img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif" title="Delete"></span>
	</td>
    </tr>
    {% endfor %}
   </tbody>
</table>
<div id="student_pagenation" style="{% if not students_list %}display:none;{% endif %}">
	<span id = 'page_{{previous}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-right:15px;{% if not has_previous %}display:none;{% endif %}"> previous </span>
		page <span id="id_currentPage">{{page}}</span> of <span id="id_totPages">{{pages}}</span>
		<input type="hidden" name="resultPerPage" id="id_resultPerPage" value="{{results_per_page}}" />
		<input type="hidden" value = "{{Norecords}}" id="Norecords" name="Norecords"/>
		<input type="hidden" name="lastPage" id="id_lastPage" value="{{pages}}" />
	<span id='page_{{next}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:15px;{% if not has_next %}display:none;{% endif %}"> next </span>
</div>

<div id="id_No_students" style="color:black;text-align:center;font-weight:bold;{% if students_list %}display:none;{% endif %}"> No Students Found</div>

<div style="padding:40px 0px;text-align:center;">
		<div class="detailHead">
			<span class="hedText">Select Centre To Map Students</span>
		</div>
			<span style="padding-right:5px;">Centres</span>
			<span style="padding-right:5px;"><select name="StdgrpCtr"><option value="None">--</option>{% for stdgrp in studentGroups %}<option value="{{stdgrp.id}}">{{stdgrp.name}}</option>{% endfor %}</select></span>
			<input type="hidden" name="school" value="{{studgrpParent.id}}" />
			<span><input type="submit" value="submit"/></span>
</div>





<script>
$(document).ready(function(){
    $('#mapstudents').submit(function (){
	$.post(
		'/mapstudents/'+{{studentgroup.id}}+'/',
		$('#mapstudents').serialize(),
		function(data) {
			$('#searchRes').html(data);
		}
	);
	return false;
    });
});

function Pagination(thisObj){
	pages = $(thisObj).attr('id')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#list_url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}

function SearchData(){
	if ($("#id_searchtext").val().length > 2){
		$.ajax({
			url: $('#list_url').attr('value'),
			data:'fieldName='+$("#id_fieldName").val()+'&searchtext='+$("#id_searchtext").val(),
			success: function(data) {
				$('#searchRes').html(data);
				tb_init('a.thickbox, area.thickbox, input.thickbox');
			}
		});
		return false;
	}
}
</script>
</div>

