
<div  id="searchRes">
<div class="detailHead">
<span class="hedText">Section Details</span>
</div>
<div id="box">

</div>
<div class="boundDetail">
    <table width=100%>
	    <th>Boundary Name</th>  <th>School Name</th>  <th>Class Name</th>  <th>Section Name</th><td>url</th>
	    <tr style="text-align:center;">
		{% with student_list|first as first_student %}
		<td>{{first_student.class_section.classname.sid.boundary}}</td>
		<td>{{first_student.class_section.classname.sid}}</td>
		<td>{{first_student.class_section.classname}}</td>
		<td id='id_section' value='{{first_student.class_section.id}}'>{{first_student.class_section}}</td>
		<td id = "url" value = "{{first_student.class_section.get_view_url}}" > {{first_student.class_section.get_view_url}}</td>
		{% endwith %}
		
	    </tr>
	</table>
</div><br/>

<!--div class="detailHead">
<span class="hedText">Student Search</span>
</div>

<div class="detailHead">
    <form method='GET' action='/search/child/' id="searchForm" onsubmit="return false">
	<select name='fieldName' id='id_fieldName'>
		<option value='name'>First Name</option>
		<option value='dob'>Date of Birth (Year-month-date  2010-05-09)</option>
		<option value='gender'>Gender</option>
		<option value='mt'>Mother Tounge</option>
		<option value='mother'>mother Name</option>
		<option value='father'>Father Name</option>
	</select>
	{% with student_list|first as first_student %}
	<input type="hidden" name="section" id='id_section' value='{{first_student.class_section.id}}' />
	{% endwith %}
	<input type="text" name="searchtext" id='id_searchtext' value='' />
	<input type="submit" name='search' value='submit' onclick="SearchData()"/>
    </form>

</div><br/ -->


<div class="detailHead">
<span class="hedText">Student Details</span>
</div>

<div class="boundDetail">
	<table width=100%>
	    <th>First Name</th>  <th>Last Name</th>  <th>Date of Birth</th>  <th>Gender</th>  <th>Mother Tounge</th>  <th>Academic Year</th><!--th>Programme</th --><th></th><th>Child Edit/Delete</th>
	    {% for i in student_list %}
		<tr style="text-align:center;" id='student_{{i.id}}'>
			<td>{{i.name.firstName}}</td>
			<td>{{i.name.lastName}}</td>
			<td>{{i.name.dob}}</td>
			<td>{{i.name.gender}}</td>
			<td>{{i.name.mt}}</td>
			<td>{{i.academic}}</td>
			<!--td>{% if i.getAnswers %}<a href="/answer/{{i.id}}/view/" onclick="return studentEdit(this)" style="color:#000;">Edit <img src="/static_media/images/pagebuilder_edit.gif" title="View"/></a>{% endif %}</td -->
			<td></td>
			<td><!--a onclick="return studentEdit(this)" href="/boundary/{{i.name.boundary.id}}/schools/{{i.class_section.classname.sid.id}}/classes/{{i.class_section.classname.id}}/sections/{{i.class_section.id}}/students/{{i.id}}/edit/"> <img title="Edit" src="/static_media/images/pagebuilder_edit.gif"></a-->
<a href="/boundary/{{i.name.boundary.id}}/schools/{{i.class_section.classname.sid.id}}/classes/{{i.class_section.classname.id}}/sections/{{i.class_section.id}}/students/{{i.id}}/edit/?keepThis=True&TB_iframe=True&height=400&width=400" title="Edit Student" class="thickbox"><img title="Edit" src="/static_media/images/pagebuilder_edit.gif"></a><span class="delConf" onclick="deleteSchool({{i.id}}, 'student')"><img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif" title="Delete"></span></td>
		</tr>
	    {% endfor %}
		<tr>
			<td colspan=8>{% if has_previous %} <span id = 'page_{{previous}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-right:15px;"> previous </span>{% endif %} page {{page}} of {{pages}} {% if has_next %} <span id = 'page_{{next}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:15px;"> next </span>{% endif %}</td>
		</tr>
	</table>
</div>
</div>
<script>

function SearchData(){
        $.ajax({
            url: '/search/child/',
            data:'fieldName='+$("#id_fieldName").val()+'&section='+$("#id_section").val()+'&searchtext='+$("#id_searchtext").val(),
            success: function(data) {
                $('#searchRes').html(data);
            }
        });
	return false;
}

function Pagination(thisObj){
	pages = $(thisObj).attr('id')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}




function studentEdit(thisObj){
	    $.ajax({
            url: thisObj.href,
            success: function(data) {
                $("#box").html(data);
		NFInit();
		$("#box").show();
            }
        });
	return false;
	}
</script>

<!--div class="boundDetail"> 
    <span class=" gallery clearfix">   
        <a href="/sections/{{section.id}}/student/creator/" onclick="return schoolView(this)">
            Add Student
        </a> 
    </span>
</div-->    

