<div class="detailHead">
    <span class="hedText">StudentEvaluation Form</span>
</div>
<form action="." method="POST" enctype="multipart/form-data" class="niceform" id="studEvalForm" name="studEvalForm" onsubmit="return false;">{% csrf_token %}    
    <table>
        <tr>
      	    <td>
      		    <table class="tblprofile">
      			    <tr>
      				    <td class="rightprofile">Assessment</td>
      					<td class="leftprofile">
                            {{form.assessment}}
                        </td>
      				</tr>
      				<tr>
      				    <td class="rightprofile">Question</td>
      					<td class="leftprofile">
                            {{form.question}}
                        </td>
      				</tr>
      				<!--tr>
      				    <td class="rightprofile">Student</td>
      					<td class="leftprofile">
                            
                        </td>
      				</tr-->
      				<tr>
      				    <td class="rightprofile">Marks</td>
      					<td class="leftprofile">
                            {{form.marks}}
                        </td>
      				</tr>  
      				<tr>
      				    <td class="rightprofile">Grade</td>
      					<td class="leftprofile">
                            {{form.grade}}
                        </td>
      				</tr>      				
      			    <tr>
      				    <td class="rightprofile">
                    	    <input type="submit" value="Submit" />
      				    </td>
      				</tr>
      			</table>
      		</td>
      	</tr>
    </table>
</form>
