<div class="KLP_Button_Header">
	<span class="KLP_Sub">
		<a class="KLP_Button"  href="/question/{{question.id}}/update/" onclick="return KLP_View(this);">Edit</a> <!-- Question Edit Button -->
	</span>
	<span class="KLP_Sub">
		<span class="KLP_SpanButton"  onclick="KLP_Del('{{question.id}}', 'question', '{{question.name}}')">Delete</span> <!-- Question Delete Button -->
	</span>
	
</div>


<div class="detailHead">
	<span class="hedText">Question Details</span>
</div>

<div class="boundDetail">    
    <div class="cl-txtbx">
    	<label>Question</label>
    </div>
    <div class="bng-cl">
	    <span>{{question}}</span> <!-- Question Name -->
	    <input type="hidden" name="id" id="question_id" size="15" value="{{question.id}}" / >
	    <input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / >
    </div>
</div>

<div class="boundDetail">    
    <div class="cl-txtbx">
    	<label>Question Type</label>
    </div>
    <div class="bng-cl"> <!-- Shows Question type if type is 1 question type is Marks else grade -->
    	<span>{% if question.question_type == 1 %}Marks{%else%}Grade{%endif%}</span>
    </div>
</div>
<!-- If Quetion type is 1 show score min and score max -->
{% if question.question_type == 1 %}
	<div class="boundDetail">    
    		<div class="cl-txtbx">
    			<label>ScoreMin</label>
    		</div>
   		<div class="bng-cl">
   			<span>{{question.score_min}}</span>
   		</div>
	</div>

	<div class="boundDetail">    
    		<div class="cl-txtbx">
    			<label>ScoreMax</label>
    		</div>
   		<div class="bng-cl">
   			<span>{{question.score_max}}</span>
   		</div>
	</div>
{% endif %}
<!-- If Quetion type is 2 show question grades -->
{% if question.question_type == 2 %}
	<div class="boundDetail">    
    		<div class="cl-txtbx">
    			<label>Grades</label>
    		</div>
    		<div class="bng-cl">
   			<span>{{question.grade}}</span>
   		</div>
	</div>
{% endif %}
<div class="boundDetail">    
	<div class="cl-txtbx">
    		<label>Question Order</label>
    	</div>
    	<div class="bng-cl">
    		<!-- Question Order -->
   		<span>{{question.order}}</span>
 	</div>
</div>
