<div  id="searchRes">
<div style="width:95%;padding:5px 5px 20px 5px;">
	<span style="font-weight:bold; font-size:15px; padding:5px">
		<a style="width:auto;padding: 5px 15px;background: url(/static_media/images/price_bg.jpg) center right; color:#fff"  href="/studentgroup/{{studentgroup.id}}/update/" onclick="return KLP_View(this);">Edit</a>
	</span>
	<span style="font-weight:bold; font-size:15px; padding:5px">
		<span style="width:auto;padding: 5px 15px;background: url(/static_media/images/price_bg.jpg) center right; color:#fff;cursor:pointer"  onclick="KLP_Del('{{studentgroup.id}}', 'studentgroup', '{{studentgroup.name}}')">Delete</span>
	</span>
	<span style="font-weight:bold; font-size:15px; padding:5px">
		<a style="width:auto;padding: 5px 15px;background: url(/static_media/images/price_bg.jpg) center right; color:#fff" href="/studentgroup/{{studentgroup.id}}/student/creator/?keepThis=true&TB_iframe=true&height=400&width=800" title="Add Student" class="thickbox">Add Student</a>
	</span>
</div>

<!--div class="detailHead">
<span class="hedText">Student Group Details</span>
</div>
<input type="hidden" id="success_status" size="15" value="{{showsuccess}}" / >
<table style="width:100%;text-align:center;margin-bottom:30px;">
<input type="hidden" id="studentgroup_id" value="{{studentgroup.id}}" / >
    {% ifequal studentgroup.content_type.model "school" %}
    <tr>
	<th>Boundary</th> <th>School</th> <th> Student Group</th>
    </tr>
    <tr>
	<td>{{studgrpParent.boundary}}</td> <td>{{studgrpParent.name}}</td> <td>{{studentgroup.name}} {% if studentgroup.section %}{{studentgroup.section}} {% endif %}</td>
    </tr>
    {% else %}
    <tr>
	<th>Boundary</th> <th> Student Group</th>
    </tr>
    <tr>
	<td>{{studgrpParent.name}}</td> <td>{{studentgroup.name}} {% if studentgroup.section %}{{studentgroup.section}} {% endif %}</td>
    </tr>
    {% endifequal %}
</table-->


<div class="detailHead">
<span class="hedText">Student Details</span>
<span id = "url" style="display:none;" value = "{{url}}"></span>
</div>

{% if students_list %}

<table id="StudentDetail" style="width:100%;overflow:hidden;text-align:center;">
    <tr>
	<th>First Name</th> <th>Last Name</th> <th> DOB</th> <th>Gender</th> <th>Mother</th> <th>Father</th> <th>Mother Tongue</th> <th>Academic Year</th> <th>Edit</th>
    </tr>
    {% for student in students_list %}
    <tr id = "student_{{student.id}}">
	<td>{{student.name.first_name}}</td> <td>{{student.name.last_name}}</td> <td>{{student.name.dob}}</td> <td>{{student.name.gender}}</td> <td>{{student.name.relations.mother}}</td> <td>{{student.name.relations.father}}</td> <td>{{student.name.mt}}</td> <td>{{student.academic}}</td> 

	<td>
		<a href="/student/{{student.id}}/update/?keepThis=true&TB_iframe=true&height=400&width=800" title="Edit Student" title="Edit Student" class="thickbox"><img title="Edit" src="/static_media/images/pagebuilder_edit.gif"></a>

		<span style="color:blue;cursor:pointer"  onclick="KLP_Del('{{student.id}}', 'student', '{{student.name.first_name}}')"><img width="11" title="Delete" src="/static_media/images/PageRow_delete.gif" title="Delete"></span>
	</td>
    </tr>
    {% endfor %}
</table>
<div>
	{% if has_previous %}<span id = 'page_{{previous}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-right:15px;"> previous </span>{% endif %}
		page {{page}} of {{pages}}
	{% if has_next %}<span id='page_{{next}}' onclick="Pagination(this)" style="cursor:pointer;color:blue;padding-left:15px;"> next </span>{% endif %}
</div>
{% else %}

<div style="color:black;text-align:center;font-weight:bold;"> No Students Found</div>
{% endif %}
<script>



function Pagination(thisObj){
	pages = $(thisObj).attr('id')
	page = pages.split('_')[1]
        $.ajax({
            url: $('#url').attr('value'),
            data:'&page='+page,
            success: function(data) {
                $('#searchRes').html(data);
		tb_init('a.thickbox, area.thickbox, input.thickbox');
            }
        });
	return false;
}

function SearchData(){
	if ($("#id_searchtext").val().length > 2){
		$.ajax({
			url: $('#url').attr('value'),
			data:'fieldName='+$("#id_fieldName").val()+'&searchtext='+$("#id_searchtext").val(),
			success: function(data) {
				$('#searchRes').html(data);
				tb_init('a.thickbox, area.thickbox, input.thickbox');
			}
		});
		return false;
	}
}
</script>
</div>

